<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css" />
     <!--build:css({.tmp,app}) styles/main.css -->
    <link href="styles/main.css" rel="stylesheet" />
    <link href="styles/style.default.css" rel="stylesheet" />
    <link href="styles/ngDialog.css" rel="stylesheet" />
    <link href="styles/ngDialog.min.css" rel="stylesheet" />
    <link href="styles/ngDialog-theme-default.css" rel="stylesheet" />
    <link href="styles/ngDialog-theme-default.min.css" rel="stylesheet" />
    <link href="styles/ngDialog-theme-plain.css" rel="stylesheet" />
    <link href="styles/ngDialog-theme-plain.min.css" rel="stylesheet" />
    <link href="styles/myth/ngDialog.css" rel="stylesheet" />
    <link href="styles/myth/ngDialog-theme-default.css" rel="stylesheet" />
    <link href="styles/myth/ngDialog-theme-plain.css" rel="stylesheet" />
    <!-- endbuild -->

    <base href="index.html">
    <link rel="icon" type="image/ico" href="branding/custom_images/favicon.ico" />

</head>
<body ng-app="annectosadmin" ng-controller="PageCtrl">

<title>{{title}}</title>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->

<div ui-view></div>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<!--[if lt IE 9]>
<script src="bower_components/es5-shim/es5-shim.js"></script>
<script src="bower_components/json3/lib/json3.min.js"></script>
<![endif]-->

<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!--Other libraries which should NOT be minified again-->


<!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>-->

<!--<!--<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>-->
<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>-->

<!--<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>-->
<!--<!--<script src="scripts/datepicker/bootstrap-datepicker.js"></script>-->




<!--<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>-->
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.3/underscore.string.min.js"></script>-->


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.18/angular-route.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>



<script src="lib/angular-local-storage.min.js"></script>
<script src="lib/to-title-case.js"></script>
<script src="lib/jquery.zoom-min.js"></script>
<script src="lib/xdate.js"></script>
<!--end lib-->
<!-- Configs-->

<script src="branding/config.js"></script>
<script src="branding/ad.js"></script>
<script src="branding/pricing_rules.js"></script>


<!-- build:js({.tmp,app}) scripts/scripts.js -->

<script src="scripts/app.js"></script>
<script src="scripts/controllers/main.js"></script>
<script src="scripts/controllers/login_login.js"></script>
<script src="scripts/controllers/login_base.js"></script>
<script src="scripts/controllers/main_base.js"></script>
<script src="scripts/controllers/home.js"></script>
<script src="scripts/controllers/cat_maintenance.js"></script>
<script src="scripts/controllers/prod_cat_assoc.js"></script>
<script src="scripts/controllers/page.js"></script>
<script src="scripts/controllers/prod_maintenance.js"></script>
<!--<script src="scripts/controllers/ngDialog.js"></script>-->
<!--<script src="scripts/controllers/ngDialog.min.js"></script>-->
<script src="scripts/controllers/page.js"></script>
<script src="scripts/directives/zoomView.js"></script>
<script src="scripts/directives/adCarousel.js"></script>
<script src="scripts/controllers/customer_maintenance.js"></script>
<script src="scripts/controllers/cat_filter.js"></script>
<script src="scripts/controllers/child_prod_maintenance.js"></script>
<script src="scripts/controllers/upload_img_url.js"></script>
<script src="scripts/controllers/prod_feat_main.js"></script>
<script src="scripts/controllers/brand.js"></script>
<script src="scripts/controllers/upload_img_url_prod.js"></script>
<script src="scripts/controllers/order_management.js"></script>
<script src="scripts/controllers/order_tracking.js"></script>
<script src="scripts/controllers/e_gift_voucher.js"></script>
<script src="scripts/controllers/e_gift_voucher_report.js"></script>
<script src="scripts/controllers/manage_egift_voucher.js"></script>
<script src="scripts/controllers/assign_user_rights.js"></script>
<script src="scripts/controllers/cust_communication.js"></script>
<script src="scripts/controllers/prod_approval.js"></script>
<script src="scripts/controllers/promo_mgmt.js"></script>
<script src="scripts/controllers/order_view.js"></script>
<script src="scripts/controllers/loadercontroller.js"></script>


<script src="scripts/services/prod_approval.js"></script>
<script src="scripts/services/upload_img_url_prod.js"></script>
<script src="scripts/services/brand.js"></script>
<script src="scripts/services/prod_feat_main.js"></script>
<script src="scripts/services/upload_img_url.js"></script>
<script src="scripts/services/child_prod_maintenance.js"></script>
<script src="scripts/services/prod_maintenance.js"></script>
<script src="scripts/services/cat_filter.js"></script>
<script src="scripts/services/prod_cat_assoc.js"></script>
<script src="scripts/services/customer_maintenance.js"></script>
<!--<script src="scripts/services/customer.js"></script>-->
<script src="scripts/services/login.js"></script>
<script src="scripts/services/notification_service.js"></script>
<script src="scripts/services/util_service.js"></script>
<script src="scripts/services/cat_maintenance.js"></script>
<script src="scripts/services/commonservice.js"></script>
<script src="scripts/services/order_service.js"></script>
<script src="scripts/services/e_gift.js"></script>
<script src="scripts/services/user_rights.js"></script>
<script src="scripts/services/cust_communication.js"></script>
<script src="scripts/services/promo_mgmt.js"></script>
<script src="scripts/services/order_service.js"></script>

<!-- endbuild -->


<!--<div class="locked" ng-show="loading">-->
    <!--<div class="lockedpanel">-->

        <!--<div class="loading"><img src="./images/loader.gif"></div>-->
    <!--</div>&lt;!&ndash; lockedpanel &ndash;&gt;-->
<!--</div>-->


<div ng-controller="LoaderCtrl">

    <div class="locked" ng-show="loading">
        <div style="top:40%; left:40%;" class="lockedpanel">
            <div class="loading"><img src="./images/loader.gif"></div>
        </div>
    </div>

</div>


</body>
</html>
