<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <!--<i class="fa fa-pencil"></i>-->

         <div style="margin-left:-7px;"><img src="./images/logo.jpg"></div>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="">Assign-User-Rights</a></li>
            </ul>
            <h4>Assign-User-Rights</h4>
        </div>
    </div><!-- media -->
</div>
<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns" style="display: none;">
                        <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
                        <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h4 class="panel-title">Assign-User-Rights</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                        <div style="max-height: 300px; border: 1px solid #428BCA; overflow: auto; margin-bottom: 10px;" class="table-responsive">
                            <table class="table table-primary mb30">
                                <thead>
                                <tr>
                                    <th>User ID</th>
                                    <th>User Name</th>
                                    <!--<th>Password</th>
                                    <th>Company ID</th>
                                    <th>User Type</th>-->
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="usr in usrsList" ng-click="PopulateRights(usr.Id,$index)" ng-class='{selectedrow: $index==selectedRow}'>
                                    <td>{{usr.Id}}</td>
                                    <td>{{usr.user_name}}</td>
                                    <!--<td>{{usr.password}}</td>
                                    <td>{{usr.company_id}}</td>
                                    <td>{{usr.user_type}}</td>-->
                                    <td class="table-action">
                                        <a href="" data-toggle="tooltip" value="View" title="View" class="tooltips" ng-dialog="child_popup" ng-click="EditUserRecord(usr)">View</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="control-label">Available Rights</label>
                                <select multiple="multiple" class="multiple" id="ddlAvailableRights" name="ddlAvailableRights" ng-model="sel_availableRights"
                                        style="height: 94px; width: 100%">
                                    <option ng-repeat="availableRights in availableRights_list" value="{{availableRights.user_right_id}}">{{availableRights.user_right_desc}}</option>
                                </select>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                        <div class="col-sm-2">
                            <div style="margin-top: 52px; text-align: center;" class="form-group">
                                <input type="button" class="next icons btn-primary" id="btnAddRights" ng-click="AssignRights()"></span>
                                <input type="button" class="prev icons btn-primary" id="btnDeleteRights" ng-click="DeleteAssignRights()"></span>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="control-label">Assigned Rights</label>
                                <select multiple="multiple" class="multiple" id="ddlAssignedRights" name="ddlAssignedRights" ng-model="sel_assignedRights"
                                        style="height: 94px; width: 100%">
                                    <option ng-repeat="assignedRights in assignedRights_list" value="{{assignedRights.user_right_id}}">{{assignedRights.user_right_desc}}</option>
                                </select>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                    </div>
                </div><!-- panel-body -->
                <div class="panel-footer">
                    <div>
                        <input class="btn btn-primary" type="button" id="btnAddUser" value="Add New User" ng-click="addUserDetail()"/>
                    </div>
                </div><!-- panel-footer -->
            </div><!-- panel -->

        </div>
    </div>
</div>
<!--Pop-up-->
<div class="locked" ng-show="adduserPage">
    <div class="lockedpanel" style="width: 400px; height: 545px; margin-top: 20px;left: 35%; top:2%;">
        <div class="panel-heading">
            <h4 class="panel-title">User</h4>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">User Id</label>
                    <input type="text" id="txtUserId" placeholder="User Id" class="form-control" ng-model="user_id" readonly="readonly" name="txtUserId" style="width: 300px;"  />

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">User Name</label>
                    <input type="text" id="txtUserName" class="form-control" placeholder="User Name" ng-model="user_name" name="txtUserName" style="width: 300px;" />

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Company</label>
                    <select id="ddlUserCompany" class="form-control" ng-model="sel_comp" style="width: 300px;">
                        <option value="82">Annectos</option>
                    </select>

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="password" id="txtUserPwd" class="form-control" placeholder="Password" ng-model="password" name="txtUserPwd" style="width: 300px;" />

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Re Password</label>
                    <input type="password" id="txtRePassword" class="form-control" placeholder="Re Password" ng-model="repassword" name="txtRePassword" style="width: 300px;" />

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">User Type</label>
                    <input type="text" id="txtUserType" class="form-control" placeholder="User Type" ng-model="user_type" name="txtUserType" style="width: 300px;" />

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="button" id="btnSaveUser" class="btn btn-primary" name="btnSaveUser" value="Save" ng-click="SaveUser()" />
                    <input type="button" id="btnCancelUser" class="btn btn-primary" name="btnCancelUser" value="Cancel" ng-click="cancelUser()" />

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div>
    </div>
 </div>

