<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <!--<i class="fa fa-pencil"></i>-->
            <div style="margin-left:-7px;"><img src="./images/logo.jpg"></div>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="">Category Filter Setup</a></li>
            </ul>
            <h4></h4>
        </div>
    </div><!-- media -->
</div>
<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns" style="display: none;">
                        <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
                        <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h4 class="panel-title">Cat Filter Setup</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Select Category</label>
                                <!--<input type="hidden" id="hdnCom_ID" ng-model="list_company.id"/>-->
                                <select class="form-control" id="CFCategoryList" ng-model="CFCategoryList" ng-change="getCategoryFilter()">
                                    <option ng-repeat="cat_filter in list_filter" value="{{cat_filter.id}}">{{cat_filter.Name}}</option>
                                </select>

                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                    </div>



                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Category Name</label>

                                <input  class="form-control" type="text" id="CFCategoryName" name="CFCategoryName" ng-model="CFCategoryName" placeholder="Category Name" style="background-color: #e4e4e4" readonly="readonly" />

                            </div><!-- form-group -->
                        </div>


                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Display Name</label>

                                <input class="form-control" type="text" id="CFCatDisplayName" name="CFCatDisplayName" ng-model="CFCatDisplayName" placeholder="Category Display Name" style="background-color: #e4e4e4" readonly="readonly" />


                                <!--<input  class="form-control" type="text" id="display" placeholder=" Display Name" name="CMDisplayName" ng-trim="true" ng-model="list_company.displayname"/>-->
                                <!--<input class="form-control" type="text" id="Cat_Display_Name" placeholder="Category Display Name" ng-trim="true" ng-model="cat_detail_data.displayname" required="required" name="Cat_Display_Name" />-->
                                <!--<textarea class="form-control" style="height: 100PX;" id="txtCatDesc" name="txtCatDesc"  ng-model="cat_detail_data.description" ng-trim="true"  placeholder="Category Description"></textarea>-->


                            </div><!-- form-group -->
                        </div>

                    </div>

                    <div class="row">

                        <input type="button" class="btn btn-primary" id="copyFilter" ng-click="category_popup()" ng-disabled="copyFilter_disabled" disabled="disabled" value="Copy Filter from another Category"/>



                    </div>
                    <br>
                    <!--<div class="row">-->


                        <!--<table id="FilterList">-->
                            <!--<tr>-->
                                <!--<td>-->
                                    <!--Filter Name-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--Action-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--Values-->
                                <!--</td>-->

                            <!--</tr>-->
                            <!--<tr data-ng-repeat="filter in filter_data">-->
                                <!--<td>-->
                                    <!--{{filter.name}}-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<input type="image" src="../app/images/del.png" ng-click="delete_filter(filter.name)" style="height: 30px;width: 30px" >-->
                                <!--</td>-->
                                <!--<td>-->
                                    <!--<a href="" ng-dialog="fourthDialogId"-->
                                       <!--ng-dialog-controller=""-->
                                       <!--ng-dialog-data="{{jsonData}}"-->
                                       <!--ng-dialog-class="ngdialog-theme-default"-->
                                       <!--ng-dialog-scope="this"-->
                                       <!--ng-dialog-show-close="false"-->
                                       <!--style="color: #fff"> <input type="image" src="../app/images/AddItem.png"ng-click="add_filter_value(filter.name)" style="height: 30px;width: 30px"></a>-->
                                <!--</td>-->

                            <!--</tr>-->

                        <!--</table>-->



                    <!--</div>-->

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Filter Name</label>
                                <!--<input class="form-control" type="text" id="category" placeholder="Category Description" maxlength="30" ng-model="list_company.name" ng-trim="true" ng-blur="GenRootUrl()"  />-->

                            </div><!-- form-group -->
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                             <input class="form-control" type="text" id="txtFilterName" placeholder="Filter Name" name="chemName" ng-model="filter" />
                                <!--<input class="form-control" type="text" id="category" placeholder="Category Description" maxlength="30" ng-model="list_company.name" ng-trim="true" ng-blur="GenRootUrl()"  />-->

                            </div><!-- form-group -->
                        </div>
                    </div>


                    <div class="row">

                        <div class="col-md-6">
                           <h5 class="lg-title mb5">Added Filter List</h5>
                            <!--<p class="mb20">An example of table with actions in every rows.</p>-->
                            <div class="table-responsive">
                                <table class="table table-primary mb30">
                                    <thead>
                                    <tr>
                                        <th>Filter Name</th>
                                        <th>Action</th>
                                        <th>Values</th>


                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="filter in filter_data" ng-click='selectcolumn($index)' ng-class='{selectedrow: $index==selectedRow}'>
                                        <td>{{filter.name}}</td>
                                        <td class="table-action">
                                            <a href="" data-toggle="tooltip" value="Delete" title="Delete" class="delete-row tooltips" ng-click="delete_filter(filter.name)">Delete</a>

                                        </td>
                                        <td class="table-action">
                                            <a href="" data-toggle="tooltip" value="Edit" title="Edit" class="tooltips" ng-dialog="child_popup" ng-click="go_to_cat_popup(filter.name)">Edit</a>

                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- table-responsive -->
                        </div><!-- col-md-6 -->


                    </div>




                    <div class="locked" ng-show="cat_popup">
                        <div class="lockedpanel">
                            <div class="loginuser">

                            </div>
                            <div class="logged">
                                <h4>Select Category To Copy</h4>
                                <small class="text-muted"></small>
                            </div>
                            <form id="unlock" method="post" >
                                <!--<div class="input-group">-->
                                <!--&lt;!&ndash;<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>&ndash;&gt;-->
                                <!--<div class="row">-->

                                <!---->
                                <!--</div>-->
                                <!--</div>&lt;!&ndash; input-group &ndash;&gt;-->


                                <div class="input-group">
                                    <!--<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>-->
                                    <!--<div class="row">-->
                                    <label class="control-label">Select Category</label>&nbsp;

                                    <select></select>
                                </div>

                                <div class="input-group">

                                    <select multiple="multiple"></select>

                                </div>
                                <!--</div>-->

                                <button class="btn btn-success btn-block" ng-click="edit_data()">Copy</button>

                                <button class="btn btn-success btn-block" ng-click="cancel()">Cancel</button>


                            </form>
                        </div><!-- lockedpanel -->
                    </div><!-- locked -->




                    <div class="locked" ng-show="cat_edit_popup">
                        <div class="lockedpanel" style="width:400px;left:36%;top:10%;">
                            <div class="close">
                                <img src="images/closeBTN.png" width="30" ng-click="pop_cat_filter()" />
                            </div>

                            <div class="loginuser">

                            </div>
                            <div class="logged">
                                <h4>Add Values To Filter Name</h4>
                                <small class="text-muted">Values For {{cat_fil_name}}</small>
                            </div>
                            <form id="unlock1" method="post" >
                                <!--<div class="input-group">-->
                                <!--&lt;!&ndash;<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>&ndash;&gt;-->
                                <!--<div class="row">-->

                                <!---->
                                <!--</div>-->
                                <!--</div>&lt;!&ndash; input-group &ndash;&gt;-->


                                <div class="input-group">
                                    <!--<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>-->
                                    <!--<div class="row">-->
                                    <input type="text" style="width:360px;" ng-model="filters_name">&nbsp;


                                    <select multiple="multiple" style="width:354px;" ng-model="sel_cat">

                                     <option ng-repeat="filter in cat_list" value="{{filter.id}}">{{filter.name}}</option>

                                    </select>


                                    <button class="btn btn-success btn-block" ng-click="add_filter_values()">Add</button>
                                    <button class="btn btn-success btn-block" ng-click="remove_cat_filter()">Remove</button><br>


                                </div>


                                <!--</div>-->

                                <button class="btn btn-success btn-block" ng-click="save_filter_data(filter.name)">Save</button>

                                <button class="btn btn-success btn-block" ng-click="cancel_pop_up()">Cancel</button>


                            </form>
                        </div><!-- lockedpanel -->
                    </div><!-- locked -->


                    <!--<div class="locked" ng-show="loading">-->
                        <!--<div class="lockedpanel">-->

                            <!--<div class="loading"><img src="./images/loader.gif"></div>-->
                        <!--</div>&lt;!&ndash; lockedpanel &ndash;&gt;-->
                    <!--</div>-->



                </div><!-- panel-body -->
                <div class="panel-footer">
                    <input type="button" class="btn btn-primary" ng-click="pop_filter_grid()" value="Add Filter"/>
                    <!--<input type="button" class="btn btn-primary" id="btnAddAnotherCat" value="cancel" ng-disabled="btnAddAnotherCat_disable" ng-click="prod_assoc()" />-->
                    <input type="button" class="btn btn-primary" id="btnCancelCatSave" value="back" ng-click="back()"/>



                </div><!-- panel-footer -->
            </div><!-- panel -->

        </div>
    </div>
</div>