<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <!--<i class="fa fa-pencil"></i>-->
            <div style="margin-left:-7px;"><img src="./images/logo.jpg"></div>

        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="">Category Maintenance</a></li>
            </ul>
            <h4>Category Maintenance</h4>
        </div>
    </div><!-- media -->
</div>
<div class="contentpanel">
<div class="row">
<div class="col-md-12">
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-btns" style="display: none;">
            <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
            <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
        </div><!-- panel-btns -->
        <h4 class="panel-title">Category Maintenance</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label" >Category List</label>


                    <!--<input type="hidden" id="hdnCom_ID" ng-model="list_company.id"/>-->
                    <select  class="form-control" id="CompanyEntryType" ng-model="sel_cat_name" ng-mouseover="on_mouse()" ng-mouseleave="off_mouse()">

                        <option ng-repeat="cat_list in listData" value="{{cat_list.id}}">{{cat_list.Name}}</option>

                    </select>



                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
            <!--<label class="control-label">* Select New Category from the Category List drop down to add new Category Level</label>-->
        </div>

        <span ng-show="hoverEdit" style="border:dotted #000000 1px;color:black;">

         <label>Select New Category from the Category List drop down to add new Category Level</label>
         </span>

        <div class="row">


        </div>


        <div class="row">


            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Category Level</label><br>
                    <!--<input class="form-control" type="text" id="" placeholder="Company Name" maxlength="30" ng-model="list_company.name" ng-blur="GenRootUrl()"  />-->
                    <input type="radio" value="1" ng-model="level" ng-change="cat_level_click(level)" ng-disabled="level1_disable" />Level 1
                    <input type="radio" value="2" ng-model="level" ng-change="cat_level_click(level)" ng-disabled="level2_disable"/>Level 2
                    <input type="radio" value="3" ng-model="level" ng-change="cat_level_click(level)" ng-disabled="level3_disable"/>Level 3

                </div><!-- form-group -->
            </div>


            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Deactivate From Controller</label><br>
                    <!--<input class="" type="checkbox" id=""  maxlength="" ng-model="list_company.name" ng-blur="GenRootUrl()"  />-->
                    <!--<input type="checkbox"  ng-checked="deactivate_check"/>-->
                    <!--id="chkCateStatus"-->
                    <input type="checkbox"  ng-model="deactivate_check"/>
                </div><!-- form-group -->
            </div>

            </div>

        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Category Name *</label>
                    <!--<input class="form-control" type="text" id="cat" placeholder="Category Name" maxlength="30" ng-trim="true" ng-model="list_company.name" ng-blur="GenRootUrl()"  />-->

                    <input class="form-control" type="text" id="CategoryName" placeholder="Category Name" ng-trim="true" ng-model="cat_detail_data.Name" name="CategoryName" required/>

                </div><!-- form-group -->
            </div>


            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Display Name *</label>
                    <!--<input  class="form-control" type="text" id="display" placeholder=" Display Name" name="CMDisplayName" ng-trim="true" ng-model="list_company.displayname"/>-->
                    <input class="form-control" type="text" id="Cat_Display_Name" placeholder="Category Display Name" ng-trim="true" ng-model="cat_detail_data.displayname" required="required" name="Cat_Display_Name" />

                </div><!-- form-group -->
            </div>



            </div>


        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Category Description *</label>
                    <!--<input class="form-control" type="text" id="category" placeholder="Category Description" maxlength="30" ng-model="list_company.name" ng-trim="true" ng-blur="GenRootUrl()"  />-->
                    <textarea class="form-control" style="height: 100PX;" id="txtCatDesc" name="txtCatDesc"  ng-model="cat_detail_data.description" ng-trim="true"  placeholder="Category Description"></textarea>

                </div><!-- form-group -->
            </div>
        </div>



        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Parent Category *</label>
                    <!--<input type="hidden" id="" ng-model="sel_ParentId"/>-->
                    <select  class="form-control" id="ddl_parent_cat" ng-model="sel_ParentId" ng-disabled="ddl_parent_cat_disable">
                      <option ng-repeat="comp_list in list_cat" value="{{comp_list.id}}">{{comp_list.Name}}</option>
                    </select>

                </div><!-- form-group -->
            </div>


            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Shipping</label>
                    <!--<input class="form-control" type="text" id="shipping" placeholder="Shipping" maxlength="30" ng-model="list_company.name" ng-trim="true" ng-blur="GenRootUrl()"  />-->
                    <input class="form-control" type="text" id="txtShipping" ng-model="cat_detail_data.shipping" placeholder="Shipping" ng-trim="true" required="required" name="txtShipping" ng-disabled="txtShipping_disable" />

                </div><!-- form-group -->
            </div>

        </div>



        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Minimum Shipping</label>
                    <!--<input class="form-control" type="text" id="shipping1" placeholder="Minimum Shipping" maxlength="30" ng-model="list_company.name" ng-trim="true" ng-blur="GenRootUrl()"  />-->
                 <input class="form-control" type="text" id="txtMinShipDays" placeholder="Minimum Shipping Days" required="required" class="CateFields NumericField" ng-trim="true" name="txtMinShipDays" ng-disabled="txtMinShipDays_disable" ng-model="cat_detail_data.min_ship" />
                </div><!-- form-group -->
            </div>


            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Maximum Shipping</label>
                    <!--<input class="form-control" type="text" id="shipping2" placeholder="Maximum Shipping" maxlength="30" ng-model="list_company.name" ng-trim="true" ng-blur="GenRootUrl()"  />-->
                    <input  class="form-control" type="text" id="txtMaxShipDays" placeholder="Maximum Shipping Days" required="required" class="CateFields NumericField" ng-trim="true" name="txtMaxShipDays" ng-disabled="txtMaxShipDays_disable" ng-model="cat_detail_data.max_ship" />

                </div><!-- form-group -->
            </div>

        </div>


        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Special Store</label><br>
                    <!--<input type="checkbox" id="store" placeholder=""  ng-model="list_company.name" ng-blur="GenRootUrl()"  />-->
                    <input type="checkbox" id="chkSplStore" name="chkSplStore" ng-model="chkspclstr" ng-checked="chkSplStore_checked" ng-disabled="chkSplStore_disable" ng-change="chkSplStore_click()" />

                </div><!-- form-group -->
            </div>


            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Special Store</label>
                    <!--<input class="form-control" type="text" id="store1" placeholder="Special Store" maxlength="30" ng-model="list_company.name" ng-trim="true" ng-blur="GenRootUrl()"  />-->
                    <input  class="form-control" type="text" id="txtSpecialStore"  placeholder="Special Store Name" required="required" ng-trim="true" name="txtSpecialStore" ng-model="cat_detail_data.SpecialStore" ng-disabled="SpecialStore_disable" />

                </div><!-- form-group -->
            </div>


        </div>

        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Start Date</label>
                    <!--<input class="form-control" type="text" id="sdate" placeholder="Start Date" maxlength="30" ng-model="list_company.name" ng-trim="true" ng-blur="GenRootUrl()"  />-->
                 <!--<input class="form-control" type="text" id="StoreStartDate" placeholder="Special Store Start Date" required="required" ng-trim="true"  name="StoreStartDate" ng-model="cat_detail_data.Str_start_date" />-->
                    <input type="text" class="form-control" id="StoreStartDate" placeholder="Special Store Start Date" required="required" ng-trim="true"  name="StoreStartDate" style="display: inline-block; width:90%!important;" datepicker-popup="dd/MM/yyyy" ng-model="cat_detail_data.Str_start_date" ng-disabled="true" is-open="opened_start" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" />
                    <span style="display: inline-block;" >
                    <button type="button" class="" style="padding: 5px 7px ! important;" ng-click="openStart($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                        </span>

                </div><!-- form-group -->
            </div>


            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">End Date</label>
                    <!--<input class="form-control" type="text" id="edate" placeholder="End Date" maxlength="30" ng-model="list_company.name" ng-trim="true" ng-blur="GenRootUrl()"  />-->
                    <!--<input class="form-control" type="text" id="StoreEndDate" placeholder="Special Store End Date" required="required" ng-trim="true"  name="StoreEndDate" ng-model="cat_detail_data.Str_end_date" />-->
                    <input type="text" class="form-control" id="StoreEndDate" placeholder="Special Store End Date" required="required" ng-trim="true"  name="StoreEndDate" style="display: inline-block; width:90%!important;" datepicker-popup="dd/MM/yyyy" ng-model="cat_detail_data.Str_end_date" ng-disabled="true" is-open="opened_end" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" />
                    <span style="display: inline-block;" >
                    <button type="button" class="" style="padding: 5px 7px ! important;" ng-click="openEnd($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                        </span>

                </div><!-- form-group -->
            </div>


        </div>

        <!--<div class="locked" ng-show="loading">-->
            <!--<div class="lockedpanel">-->

                <!--<div class="loading"><img src="./images/loader.gif"></div>-->
            <!--</div>&lt;!&ndash; lockedpanel &ndash;&gt;-->
        <!--</div>-->



    </div><!-- panel-body -->
    <div class="panel-footer">
        <input type="button" class="btn btn-primary" id="save1" ng-click="save_category()" value="save"/>
        <input type="button" class="btn btn-primary" id="btnAddAnotherCat" value="Add Another" ng-disabled="btnAddAnotherCat_disable" ng-click="add_another()" />
        <input type="button" class="btn btn-primary" id="btnCancelCatSave" value="Cancel" ng-click="cancel_category()"/>
        <input type="button" class="btn btn-primary" id="btnUploadImgVid" class="orange-btn" ng-click="OpenUploadImagePage()"  value="Upload Image Url" />
        <input type="button" class="btn btn-primary" id="btnLinkCFS" value="Category Filter Setup" ng-click="cat_filter()"/>
        <input type="button" class="btn btn-primary" id="btnLinkPCA" value="Product Category Association" ng-click="prod_assoc()"/>
        <!--<input type="button" class="btn btn-primary" id="btnLinkBSC" value="Build Store Catalog" ng-click="link_bsc()"/>-->
        <!--ng-disabled="btnUpldImgVid_disable"-->

    </div><!-- panel-footer -->
</div><!-- panel -->

</div>
</div>
</div>