<div class="locked">
    <div class="lockedpanel">
        <div class="loginuser">

        </div>
        <div class="logged">
            <h4>Edit Child Product</h4>
            <small class="text-muted"></small>
        </div>
        <form id="unlock" method="post" >
            <!--<div class="input-group">-->
                <!--&lt;!&ndash;<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>&ndash;&gt;-->
                <!--<div class="row">-->

               <!---->
            <!--</div>-->
                <!--</div>&lt;!&ndash; input-group &ndash;&gt;-->


            <div class="input-group">
                <!--<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>-->
             <!--<div class="row">-->
                <label class="control-label">Stock</label>&nbsp;

                <input type="text" class="" placeholder="stock" ng-model="stock">
            </div>

            <div class="input-group">

                    <label class="control-label">Express</label>&nbsp;

                    <input type="checkbox"  ng-model="express">

                </div>
                <!--</div>-->

            <button class="btn btn-success btn-block" ng-click="edit_data()">Save</button>

            <button class="btn btn-success btn-block" ng-click="cancel_data()">Cancel</button>


        </form>
    </div><!-- lockedpanel -->
</div><!-- locked -->