<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <!--<i class="fa fa-pencil"></i>-->
            <div style="margin-left:-7px;"><img src="./images/logo.jpg"></div>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="">Child Product Maintainance</a></li>
            </ul>
            <h4>Child Product Maintainance</h4>
        </div>
    </div><!-- media -->
</div>
<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns" style="display: none;">
                        <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
                        <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h4 class="panel-title">Child Product Maintainance</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Select Product</label>
                                <input type="hidden" id="hdnCom_ID" ng-model="list_company.id"/>
                                <select  class="form-control" id="CompanyEntryType" ng-model="sel_prod_parent">
                                    <option value="">Select Product</option>
                                    <option ng-repeat="prod_parent_list in prod_parent" value="{{prod_parent_list.id}}">{{prod_parent_list.Name}}</option>

                                </select>

                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->


                    </div><!-- row -->

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Size *</label>
                                <input class="form-control" type="text" name="" ng-model="child_data.size">


                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">SKU *</label>
                                <input class="form-control" type="text" name="" ng-model="child_data.sku">

                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->


                    </div><!-- row -->

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Stock *</label>
                                <input class="form-control"  type="text" name="" ng-model="child_data.stock">

                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->


                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Express</label>
                                <input type="checkbox" name="express" ng-model="child_data.Express">
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->


                    </div><!-- row -->

                    <div class="row">

                        <!--<table>-->
                            <!--<thead>-->
                            <!--<tr>-->
                                <!--<th width="100">Parent Product</th>-->
                                <!--<th width="150">Size</th>-->
                                <!--<th width="150">SKU</th>-->
                                <!--<th width="100">Stock</th>-->
                                <!--<th width="100">Express</th>-->
                                <!--<th width="100">Edit</th>-->
                                <!--<th>Delete</th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                            <!--<tr data-ng-repeat="prod in prod_child">-->
                                <!--<td>{{prod.Name}}</td>-->
                                <!--<td>{{prod.size}}</td>-->
                                <!--<td>{{prod.sku}}</td>-->
                                <!--<td>{{prod.stock}}</td>-->
                                <!--<td>{{prod.Express}}</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                        <!--</table>-->

                        <!--<div class="col-md-6">-->
                            <!--<h5 class="lg-title mb5">Table With Actions</h5>-->
                            <!--<p class="mb20">An example of table with actions in every rows.</p>-->
                            <div class="table-responsive">
                                <table class="table table-primary mb30">
                                    <thead>
                                    <tr>
                                        <th>Parent Product</th>
                                        <th>Size</th>
                                        <th>SKU</th>
                                        <th>Stock</th>
                                        <th>Express</th>
                                        <th>Edit</th>
                                        <th>Delete</th>


                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="prod in prod_child" ng-click='selectcolumn($index)' ng-class='{selectedrow: $index==selectedRow}'>
                                        <td>{{prod.Name}}</td>
                                        <td>{{prod.size}}</td>
                                        <td>{{prod.sku}}</td>
                                        <td>{{prod.stock}}</td>
                                        <td>{{prod.Express}}</td>
                                        <td class="table-action">
                                            <a href="" data-toggle="tooltip" value="Edit" title="Edit" class="tooltips" ng-dialog="child_popup" ng-click="go_to_popup(prod.id,prod.stock,prod.Express)">Edit</a>

                                        </td>

                                        <td class="table-action">
                                            <a href="" data-toggle="tooltip" value="Delete" title="Delete" class="delete-row tooltips" ng-click="delete_child_prod(prod.id)">Delete</a>

                                        </td>


                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- table-responsive -->
                        <!--</div>&lt;!&ndash; col-md-6 &ndash;&gt;-->




                            <div class="locked" ng-show="child_popup">
                                <div class="lockedpanel" style="left: 40%;top: 40%;">
                                    <div class="close">
                                        <img src="images/closeBTN.png" width="30" ng-click="close_pop_up()" />
                                    </div>
                                    <div class="loginuser">

                                    </div>
                                    <div class="logged">
                                        <h4>Edit Child Product</h4>
                                        <small class="text-muted"></small>
                                    </div>
                                    <form id="unlock" method="post" >
                                        <!--<div class="input-group">-->
                                        <!--&lt;!&ndash;<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>&ndash;&gt;-->
                                        <!--<div class="row">-->

                                        <!---->
                                        <!--</div>-->
                                        <!--</div>&lt;!&ndash; input-group &ndash;&gt;-->


                                        <div class="input-group">
                                            <!--<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>-->
                                            <!--<div class="row">-->
                                            <label class="control-label">Stock</label>&nbsp;

                                            <input type="text" class="" placeholder="stock" ng-model="stock">
                                        </div>

                                        <div class="input-group">

                                            <label class="control-label">Express</label>&nbsp;

                                            <input type="checkbox"  ng-model="express">

                                        </div>
                                        <!--</div>-->

                                        <button class="btn btn-success btn-block" ng-click="edit_data()">Save</button>

                                        <button class="btn btn-success btn-block" ng-click="cancel_data()">Cancel</button>


                                    </form>



                                    <!-- lockedpanel -->
                            </div><!-- locked -->








                            </div>








                    </div>


                    <!--<div class="locked" ng-show="loading">-->
                        <!--<div class="lockedpanel">-->

                            <!--<div class="loading"><img src="./images/loader.gif"></div>-->
                        <!--</div>&lt;!&ndash; lockedpanel &ndash;&gt;-->
                    <!--</div>-->




                </div><!-- panel-body -->
                <div class="panel-footer">
                    <input type="button" class="btn btn-primary" ng-click="add_child_product();"value="Add Product"/>
                    <input type="button" class="btn btn-primary"  value="Cancel"/>


                </div><!-- panel-footer -->
            </div><!-- panel -->

        </div>
    </div>
</div>