
<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <!--<i class="fa fa-pencil"></i>-->
            <div style="margin-left:-7px;"><img src="./images/logo.jpg"></div>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="">Customer Maintenance</a></li>
            </ul>
            <h4>Customer Maintenance</h4>
        </div>
    </div><!-- media -->
</div>
<div class="contentpanel">
<div class="row">
<div class="col-md-12">
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-btns" style="display: none;">
            <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
            <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
        </div><!-- panel-btns -->
        <h4 class="panel-title">Customer Maintenance</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">New Company</label>
                  <!--<input type="hidden" id="hdnCom_ID" ng-model="list_company.name"/>-->
                   <select  class="form-control" id="CompanyEntryType" ng-model="company_name">

                        <!--<option value="New Company">New Company</option>-->
                        <option ng-repeat="comp_list in list" value="{{comp_list.name}}">{{comp_list.name}}</option>

                    </select>

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Company Name</label>
                    <input class="form-control" type="text" id="CMCompanyName" placeholder="Company Name" maxlength="30" ng-model="list_company.name" ng-blur="GenRootUrl()"  />

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div><!-- row -->

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Display Name</label>
                    <input  class="form-control" type="text" id="CMDisplayName" placeholder="Company Display Name" name="CMDisplayName" ng-model="list_company.displayname"/>

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Contact Name</label>
                    <input class="form-control" type="text" id="CMContactName" placeholder="Company Contact Name" name="CMContactName" ng-model="list_company.contactname" />

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div><!-- row -->

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Contact Phone No</label>
                    <input class="form-control" type="text" id="CMContactPhoneNo" placeholder="Contact Phone Number" name=" CMContactPhoneNo" ng-model="list_company.phonenumber"  />
                </div><!-- form-group -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Contact Address</label>
                    <textarea class="form-control" style="height: 100PX;" placeholder="Contact Address"  id="CMContactAddress" name="CMContactAddress" ng-model="list_company.address"></textarea>

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div><!-- row -->

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input class="form-control" type="text" id="emailid" placeholder="Email" name="emailid" ng-model="list_company.emailid"  />

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Logo Link</label>
                    <input class="form-control" type="text" id="txtLogoLink" placeholder="Logo Link" name="txtLogoLink" ng-model="list_company.logo"  />


                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div><!-- row -->

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">INR Points Ratio</label>
                    <input class="form-control" type="text" id="txtRatio" placeholder="INR Points Ratio" name="txtRatio" ng-model="list_company.inr_point_ratio" ng-keypress="isNumber($event.keyCode)"   />

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Max. Point Range</label>
                    <input class="form-control" type="text" id="txtMaxPoint" placeholder="Max. Point Range" name="txtMaxPoint" ng-model="list_company.point_range_max" ng-keypress="isNumber($event.keyCode)" />


                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div><!-- row -->

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Min. Point Range</label>
                    <input  class="form-control"  type="text" id="txtMinPoint" placeholder="Min. Point Range" name="txtMinPoint" ng-model="list_company.point_range_min" ng-keypress="isNumber($event.keyCode)" />

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Root URL 1</label>
                    <input class="form-control" type="text" id="txtrooturl1" placeholder="Root URL 1" name="txtrooturl1" ng-model="list_company.root_url_1" />


                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div><!-- row -->

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">
                        Alternate Name(SMS)</label>
                    <input class="form-control"  type="text" id="txtrooturl2" placeholder="Alternate Name" name="txtrooturl2" ng-model="list_company.root_url_2" />

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Shipping Charge</label>
                    <input class="form-control"  type="text" id="txtShippingCharge" placeholder="Shipping Charge" name="txtShippingCharge" ng-model="list_company.shipping_charge" ng-keypress="isNumber($event.keyCode)" />


                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div><!-- row -->

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Order Free Shipping</label>
                    <input class="form-control" type="text" id="txtOrdFreeShipping" placeholder="Min. Order For Free Shipping" name="txtOrdFreeShipping" ng-model="list_company.min_order_for_free_shipping" ng-keypress="isNumber($event.keyCode)" />

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Sales Tracking</label>
                    <label><input  value="1" name="SalesTracking" ng-model="list_company.sales_tracking" ng-change="SalesTracking_click(list_company.sales_tracking)" type="radio"> Yes</label>
                    <label><input  type="radio" value="0" ng-checked="SalesTracking_Checked" name="SalesTracking" ng-model="list_company.sales_tracking" ng-change="SalesTracking_click(list_company.sales_tracking)"> No</label>

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div><!-- row -->

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Track Cycle</label>
                    <select  class="form-control"  id="ddlTrackCycle" title="Select Track Cycle" ng-model="list_company.track_cycle"  ng-disabled="ddlTrackCycle_disable">
                        <option value="MONT" ng-selected="ddlTrackCycle_MONT">Monthly</option>
                        <option value="WEEK">Weekly</option>
                        <option value="FORT">Fortnightly</option>
                        <option value="QUAR">Quarterly</option>
                        <option value="HALF">Half Yearly</option>
                    </select>

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Point Validity</label>
                    <select class="form-control" id="ddlPointVal" title="Select Point Validity" ng-model="list_company.validity">
                        <option value="365">365 Days</option>
                        <option value="180">180 Days</option>
                        <option value="30">30 Days</option>
                        <option value="0">No Expiry</option>
                    </select>


                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div><!-- row -->

        <!--<div class="locked" ng-show="loading">-->
            <!--<div class="lockedpanel">-->

                <!--<div class="loading"><img src="./images/loader.gif"></div>-->
            <!--</div>&lt;!&ndash; lockedpanel &ndash;&gt;-->
        <!--</div>-->




    </div><!-- panel-body -->
    <div class="panel-footer">
        <input type="button" class="btn btn-primary" id="btnsave1" ng-click="save_company()" value="save"/>
        <input type="button" class="btn btn-primary" id="btnCancelComp" value="Cancel" ng-click="cancel_company()"/>

    </div><!-- panel-footer -->
</div><!-- panel -->

</div>
</div>
</div>