<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <!--<i class="fa fa-pencil"></i>-->
            <div style="margin-left:-7px;"><img src="./images/logo.jpg"></div>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="">Intimate Users</a></li>
            </ul>
            <h4>Intimate Users</h4>
        </div>
    </div><!-- media -->
</div>
<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns" style="display: none;">
                        <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
                        <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h4 class="panel-title">Intimate Users</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Company</label>
                                <select id="ddlUIComp" class="form-control" title="Select Company" ng-model="sel_company">
                                    <option ng-repeat="comp in comp_list" value="{{comp.id}}">{{comp.name}}</option>
                                </select>

                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Search Email</label>
                                <input type="text" id="txtSearchEmail" class="form-control" name="txtSearchEmail" ng-model="user_email" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                    </div>
                    <div class="panel-footer">
                        <input class="btn btn-primary" type="button" id="btnSearchIntimateUser" value="Search" ng-click="UserIntimateSearch()"/>
                        <input type="button" class="btn btn-primary" id="btnCanSrchIntimateUser" ng-click="CancelUser()" value="Cancel"/>
                    </div>
                    <div class="row">
                        <div style="margin-left: 20px;margin-top: 15px;" class="" ng-show="pagerInfo">
                            <input class="btn btn-primary" type="button" id="btnFirst" value="First" ng-click="FirstCall()"/>
                            <input class="btn btn-primary" type="button" id="btnPrevious" value="Previous" ng-click="PrevCall()"/>
                            <label class="control-label">Page</label>
                            <input type="text" id="PageNo" ng-model="curr_page_no" class="" ng-change="PageNo_Change" />
                            <label class="control-label">of</label>
                            {{total_page}}
                            <input class="btn btn-primary" type="button" id="btnNext" value="Next" ng-click="NextCall()"/>
                            <input style="margin-top: 0px;" class="btn btn-primary" type="button" id="btnLast" value="Last" ng-click="LastCall()"/>
                        </div>
                    </div>
                    <div style="margin-top: 5px;"></div>
                    <div class="row">
                        <div  style="max-height: 300px;overflow: auto; margin-top: 10px; border: 1px solid #ccc;" class="table-responsive">
                            <table class="table table-primary mb30">
                                <thead>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Email ID</th>
                                    <th>Points</th>
                                    <th>Mobile No</th>
                                    <th>Status</th>
                                    <th>Password</th>
                                    <th>Location</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="userIntimate in userIntimateList">
                                    <td><input type="checkbox" ng-model="sel_data" ng-click="selUserIntimate($index)"/></td>
                                    <td>{{userIntimate.first_name}}</td>
                                    <td>{{userIntimate.last_name}}</td>
                                    <td>{{userIntimate.email_id}}</td>
                                    <td>{{userIntimate.points}}</td>
                                    <td>{{userIntimate.mobile_no}}</td>
                                    <td>{{userIntimate.user_status}}</td>
                                    <td>{{userIntimate.password}}</td>
                                    <td>{{userIntimate.location}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div><!-- panel-body -->

                <div class="panel-footer">
                    <!--<input class="btn btn-primary" type="button" id="btnSearchIntimateUser" value="Search" ng-click="getUserIntimate()"/>
                    <input type="button" class="btn btn-primary" id="btnCanSrchIntimateUser" ng-click="CancelUser()" value="Cancel"/>-->
                    <input class="btn btn-primary" type="button" id="btnSendUserCredential" value="Send User Credential" ng-click="SendUserCredential()"/>
                    <input type="button" class="btn btn-primary" id="btnRegPassword" ng-click="RegPassword()" value="Regenerate Password"/>
                    <input class="btn btn-primary" type="button" id="A7" value="Export of Customer List" ng-click="ExportCustList()"/>
                    <input type="button" class="btn btn-primary" id="A12" ng-click="SendPromoWithCredentials()" value="Send Promo Email With Credentials"/>
                    <input class="btn btn-primary" type="button" id="A13" value="Send Promo Email" ng-click="SendPromo()"/>
                    <input type="button" class="btn btn-primary" id="A14" ng-click="SendSMSTransactional()" value="Send SMS"/>

                </div><!-- panel-footer -->


                <!--<div class="locked" ng-show="loading">-->
                    <!--<div class="lockedpanel">-->

                        <!--<div class="loading"><img src="./images/loader.gif"></div>-->
                    <!--</div>&lt;!&ndash; lockedpanel &ndash;&gt;-->
                <!--</div>-->

            </div><!-- panel -->

        </div>
    </div>
</div>