<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-pencil"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="#">e-Gift Voucher</a></li>
            </ul>
            <h4>e-Gift Voucher</h4>
        </div>
    </div><!-- media -->
</div>
<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns" style="display: none;">
                        <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
                        <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h4 class="panel-title">e-Gift Voucher</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Select Company</label>
                                <select class="form-control" id="ddlVouComp" title="Select Company" ng-model="sel_voucomp">
                                    <option ng-repeat="vou_comp in vou_comp_list" value="{{vou_comp.id}}">{{vou_comp.name}}</option>
                                </select>

                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">No Of Voucher</label>
                                <input type="text" id="txtNoOfVou" class="form-control" name="txtNoOfVou" placeholder="No Of Voucher" ng-model="eGiftVou.NoOfVou" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Amount</label>
                                <input type="text" id="txtAmount" ng-keypress="isNumber($event.keyCode)" class="form-control" name="txtAmount" placeholder="Amount" ng-model="eGiftVou.amount" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Event/Label</label>
                                <input type="text" id="txtEvent" class="form-control" name="txtEvent" placeholder="Event/Label" ng-model="eGiftVou.event_desc" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Validity</label>
                                <input type="text" id="txtValidity" class="form-control" name="txtValidity" placeholder="Validity" ng-model="eGiftVou.validity" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">From Email</label>
                                <input type="text" id="txtFromEmail" class="form-control" name="txtFromEmail" placeholder="From Email" ng-model="eGiftVou.giver_email" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">To Email</label>
                                <input type="text" id="txtToEmail" class="form-control" name="txtToEmail" placeholder="To Email" ng-model="eGiftVou.rcv_email" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                    </div>
                </div><!-- panel-body -->
                <div class="panel-footer">
                    <input class="btn btn-primary" type="button" class="orange-btn" id="A1" value="Save" ng-click="SaveeGift()"/>
                    <input type="button" class="btn btn-primary" id="btnCancelGift" ng-click="CancelGift()" value="Cancel"/>


                </div><!-- panel-footer -->
            </div><!-- panel -->

        </div>
    </div>
</div>