<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-pencil"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="#">E-Gift Voucher Report</a></li>
            </ul>
            <h4>E-Gift Voucher Report</h4>
        </div>
    </div><!-- media -->
</div>
<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns" style="display: none;">
                        <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
                        <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h4 class="panel-title">E-Gift Voucher Report</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Store</label>
                                <select class="form-control" id="ddlEGiftCompany" title="Select Store" ng-model="sel_store">
                                    <option ng-repeat="egiftCompany in egiftCompany_list" value="{{egiftCompany.id}}">{{egiftCompany.name}}</option>
                                </select>

                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                        <div class="panel-footer">
                            <div>
                                <input class="btn btn-primary" type="button" id="btnEGiftVouSrch" value="Search" ng-click="SearchEGiftVoucher()"/>
                                <input type="button" class="btn btn-primary" id="btnCanEGiftVouSrch" ng-click="CancelSearch()" value="Cancel"/>
                                <input type="button" class="btn btn-primary" id="btnExportToReport" ng-click="ExportGVVoucher()" value="Export To Excel"/>
                            </div>
                        </div><!-- panel-footer -->
                        <div style="max-height: 300px;overflow: auto; margin-top: 10px; border: 1px solid #ddd;" class="table-responsive">
                            <table class="table table-primary mb30">
                                <thead>
                                <tr>
                                    <th>GV Code</th>
                                    <th>Created Date</th>
                                    <th>From Email</th>
                                    <th>To Email</th>
                                    <th>Amount</th>
                                    <th>Validity</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="vouDtls in vouDtlsList">
                                    <td>{{vouDtls.gift_voucher_code}}</td>
                                    <td>{{vouDtls.create_date}}</td>
                                    <td>{{vouDtls.giver_email}}</td>
                                    <td>{{vouDtls.rcv_email}}</td>
                                    <td>{{vouDtls.amount}}</td>
                                    <td>{{vouDtls.validity}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- panel-body -->
                  </div>
                </div>
               </div><!-- panel -->

        </div>
    </div>
</div>