


<div style="position: fixed; width: 100%; height: 100%; background: #428bca"  >

    <section>

        <div class="panel panel-signin">
            <div class="panel-body">

                <div style="margin-left:70px; ">
                    <img src ="./images/dalmia.jpg">

                </div>

                <h4 class="text-center mb5"></h4>
                <br/>

                <form method="post">
                    <div class="input-group mb15">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  class="form-control" id="Username" name="Username" class="LoginInputs" placeholder="User Name" type="text" ng-model="user_name" ng-trim="true" ng-keyup="TrapKeyEvent($event.keyCode)" >
                    </div><!-- input-group -->
                    <div class="input-group mb15">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input  class="form-control" placeholder="Password" class="LoginInputs" type="password" id="Password" name="Password" ng-model="password" ng-trim="true" ng-keyup="TrapKeyEvent($event.keyCode)">
                    </div><!-- input-group -->

                    <div class="clearfix">

                        <div class="pull-right">
                            <button id="LogIn" ng-click="UserValidate()" class="btn btn-success">Sign In <i class="fa fa-angle-right ml5"></i></button>
                        </div>
                    </div>
                </form>

                <div class="locked" ng-show="loading">
                    <div class="lockedpanel">

                        <div class="loading"><img src="./images/loader.gif"></div>
                    </div><!-- lockedpanel -->
                </div>

            </div><!-- panel-body -->
            <div class="panel-footer">

            </div><!-- panel-footer -->
        </div><!-- panel -->

    </section>

</div>
