<header>
    <div class="headerwrapper">
        <div class="header-left">
            <a href="index-2.html" class="logo">
                <!--<img src="images/logo.png" alt="" />-->
            </a>
            <div class="pull-right">
                <a href="" class="menu-collapse">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
        </div><!-- header-left -->

        <div class="header-right">

            <div class="pull-right">


                <div style="margin-top: -10px;">
                  <a style="" href="#"><img src="./images/logout.ico"></a>
                </div>
                <!--<form class="form form-search" action="http://themepixels.com/demo/webpage/chain/search-results.html">-->
                    <!--<input type="search" class="form-control" placeholder="Search" />-->
                <!--</form>-->


            </div><!-- pull-right -->

        </div><!-- header-right -->

    </div><!-- headerwrapper -->
</header>

<section>
    <div class="mainwrapper">
        <div class="leftpanel">
            <div class="media profile-left">
                
                <div class="media-body">
                    <img src="./images/images.jpg ">
                    <h4 class="media-heading"></h4>
                </div>
            </div><!-- media -->

            <h5 class="leftpanel-title">Navigation</h5>
            <ul class="nav nav-pills nav-stacked">
                <!--<li><a href=""> <span class="glyphicon  glyphicon-adjust"> Dashboard</span></a></li>-->
                <!--<i class="fa fa-home"></i>-->
                <!--<li><a href="#"><span class="pull-right badge">5</span><i class="fa fa-envelope-o"></i> <span>Messages</span></a></li>-->
                <!--<i class="fa fa-suitcase"></i>-->
                <li class="parent active"><a href=""><span  class="glyphicon  glyphicon- glyphicon-list">  Menu</span></a>
                    <ul class="children">
                        <li><a href="#/main/home">Customer Maintenance</a></li>
                        <li><a href="#/main/category_maintenance">Category Maintenance</a></li>
                        <li><a href="#/main/prod_maintenance">Product Maintenance</a></li>
                        <li><a href="#/main/child_prod_main">Child Product Maintenance</a></li>
                        <li><a href="#/main/prod_cat_association">Product Category Association</a></li>
                        <li><a href="#/main/prod_feature">Product Feature Management</a></li>
                        <li><a href="#/main/cat_filter">Cat Filter</a></li>
                        <!--<li><a href="">Deal Setup</a></li>-->
                        <li><a href="#/main/brand">Brand</a></li>
                        <li><a href="#/main/orderview">Order View</a></li>
                        <li><a href="#/main/ordertracking">Order Tracking</a></li>
                        <li><a href="#/main/product_approval">Product Approval</a></li>
                        <!--<li><a href="#/main/home">Report</a></li>-->
                        <li><a href="#/main/assign_user_rights">Assign User Rights</a></li>
                        <li><a href="#/main/cust_communication">Customer Communication</a></li>
                        <li><a href="#/main/promo_mgmt">Promo Mgmt</a></li>
                        <!--<li><a href="#/main/e_gift_voucher">EGift Voucher</a></li>-->
                        <!--<li><a href="#/main/manage_egift_voucher">Manage EGift Voucher</a></li>-->
                        <!--<li><a href="#/main/e_gift_voucher_report">EGift Voucher Report</a></li>-->
                        <!--<li><a href="#/main/home">Upload Points only</a></li>-->
                        <!--<li><a href="#">Logout</a></li>-->
                        <!--<li><a href="#/main/home"></a></li>-->
                        <!--<li><a href="buttons.html">Buttons</a></li>-->
                        <!--<li><a href="extras.html">Extras</a></li>-->
                        <!--<li><a href="graphs.html">Graphs &amp; Charts</a></li>-->
                        <!--<li><a href="icons.html">Icons</a></li>-->
                        <!--<li><a href="modals.html">Modals</a></li>-->
                        <!--<li><a href="widgets.html">Panels &amp; Widgets</a></li>-->
                        <!--<li><a href="sliders.html">Sliders</a></li>-->
                        <!--<li class="active"><a href="tabs-accordions.html">Tabs &amp; Accordions</a></li>-->
                        <!--<li><a href="typography.html">Typography</a></li>-->
                    </ul>
                </li>
                <!--<li class="parent"><a href="#"><i class="fa fa-edit"></i> <span>Forms</span></a>-->
                    <!--<ul class="children">-->
                        <!--<!--<li><a href="code-editor.html">Code Editor</a></li>-->
                        <!--<!--<li><a href="general-forms.html">General Forms</a></li>-->
                        <!--<!--<li><a href="form-layouts.html">Layouts</a></li>-->
                        <!--<!--<li><a href="wysiwyg.html">Text Editor</a></li>-->
                        <!--<!--<li><a href="form-validation.html">Validation</a></li>-->
                        <!--<!--<li><a href="form-wizards.html">Wizards</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="parent"><a href="#"><i class="fa fa-bars"></i> <span>Tables</span></a>
                    <!--<ul class="children">-->
                        <!--<!--<li><a href="basic-tables.html">Basic Tables</a></li>-->
                        <!--<!--<li><a href="data-tables.html">Data Tables</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li><a href="maps.html"><i class="fa fa-map-marker"></i> <span>Maps</span></a></li>-->
                <!--<li class="parent"><a href="#"><i class="fa fa-file-text"></i> <span>Pages</span></a>-->
                    <!--<ul class="children">-->
                        <!--<!--<li><a href="notfound.html">404 Page</a></li>-->
                        <!--<!--<li><a href="blank.html">Blank Page</a></li>-->
                        <!--<!--<li><a href="calendar.html">Calendar</a></li>-->
                        <!--<!--<li><a href="invoice.html">Invoice</a></li>-->
                        <!--<!--<li><a href="locked.html">Locked Screen</a></li>-->
                        <!--<!--<li><a href="media-manager.html">Media Manager</a></li>-->
                        <!--<!--<li><a href="people-directory.html">People Directory</a></li>-->
                        <!--<!--<li><a href="profile.html">Profile</a></li>-->
                        <!--<!--<li><a href="search-results.html">Search Results</a></li>-->
                        <!--<!--<li><a href="signin.html">Sign In</a></li>-->
                        <!--<!--<li><a href="signup.html">Sign Up</a></li>-->
                    <!--</ul>-->
                <!--</li>-->

            </ul>

        </div><!-- leftpanel -->
        <div class="mainpanel">
        <div ui-view></div>

    </div>
    </div>

</section>

