<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-pencil"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="#">Manage E-Gift Voucher</a></li>
            </ul>
            <h4>Manage E-Gift Voucher</h4>
        </div>
    </div><!-- media -->
</div>
<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns" style="display: none;">
                        <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
                        <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h4 class="panel-title">Manage E-Gift Voucher</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Select Company</label>
                                <select class="form-control" id="ddlVouSchComp" title="Select Company" ng-model="sel_vouComp">
                                    <option ng-repeat="VouSchComp in VouSchComp_list" value="{{VouSchComp.id}}">{{VouSchComp.name}}</option>
                                </select>

                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">E-Voucher Code</label>
                                <input type="text" id="txtEVouCode" class="form-control" name="txtEVouCode" ng-model="gv_code" placeholder="Enter An E-Voucher Code" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                    </div>
                    <div class="row">
                        <div class="col-sm-1">
                            <div class="form-group">
                                <label class="control-label">Amount</label>
                            </div><!-- form-group -->
                        </div><!-- col-sm-4 -->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">INR:</label>
                                <label id="lblVoucherAmount"class="form-control">{{voucher_amount}}</label>
                            </div><!-- form-group -->
                        </div><!-- col-sm-4 -->
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Store Name:</label>
                                <label id="lblStoreName" class="form-control">{{store_name}}</label>
                            </div><!-- form-group -->
                        </div><!-- col-sm-4 -->
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Created Date</label>
                                <label id="lblCreatedDate" class="form-control">{{created_date}}</label>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Validity</label>
                                <label id="lblVouValidity" class="form-control">{{vou_validity}}</label>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                <label id="lblVouStatus" class="form-control">{{vou_status}}</label>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Add More Validity</label>
                                <select class="form-control" id="ddlMorevalidity"  title="Add More Validity" ng-model="sel_validity">
                                    <option value="0"></option>
                                    <option value="3">3 Months</option>
                                    <option value="6">6 Months</option>
                                    <option value="9">9 Months</option>
                                    <option value="12">12 Months</option>
                                </select>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                    </div>
                </div><!-- panel-body -->
                <div class="panel-footer">
                    <div>
                        <input class="btn btn-primary" type="button" id="btnVoucherSrch" value="Search Voucher" ng-click="FindVoucherDetail()"/>
                        <input type="button" class="btn btn-primary" id="btnVouRedeem" ng-click="VoucherRedeem(1)" ng-disabled="btnVouRedeem_disable" value="Redeem"/>
                        <input type="button" class="btn btn-primary" id="btnChangeValidity" ng-click="VoucherRedeem(2)" ng-disabled="btnChangeValidity_disable" value="Change Validity"/>
                    </div>
                </div><!-- panel-footer -->
            </div><!-- panel -->

        </div>
    </div>
</div>