


<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <!--<i class="fa fa-pencil"></i>-->

            <div style="margin-left:-7px;"><img src="./images/logo.jpg"></div>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="">Order Tracking</a></li>
            </ul>
            <h4>Order Tracking</h4>
        </div>
    </div><!-- media -->
</div>
<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns" style="display: none;">
                        <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
                        <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h4 class="panel-title">Order Tracking</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">  Store</label>
                                <select class="form-control" id="ddlStoreForTrack" title="Select Store" ng-model="sel_storetrack">
                                    <option ng-repeat="order_track in order_track_list" value="{{order_track.id}}">{{order_track.name}}</option>
                                </select>

                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Order Status</label>
                                <select class="form-control" id="ddlOrderTrackStatus" title="Select Order Status" ng-model="sel_order_status">
                                    <option value="1">Order Received </option>
                                    <option value="4">Will Ship</option>
                                </select>


                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                    </div>
                        <!--grid-->
                        <div class="row">
                            <div class="col-sm-12">
                        <div style="max-height: 300px; border: 1px solid #ddd; overflow: auto" class="table-responsive">
                            <table class="table table-primary mb30">
                                <thead>
                                <tr>
                                    <th>Order #</th>
                                    <th>Store Company</th>
                                    <th>Date</th>
                                    <th>Customer Name</th>
                                    <th>Ship To Name</th>
                                    <th>Status</th>
                                    <th>Total Purchase Amount</th>
                                    <th>G.T. (Purchased)</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="ordTrack in orderTrackList">
                                    <td>{{ordTrack.order_id}}</td>
                                    <td>{{ordTrack.store}}</td>
                                    <td>{{ordTrack.order_date}}</td>
                                    <td>{{ordTrack.BillToName}}</td>
                                    <td>{{ordTrack.ShipToName}}</td>
                                    <td>{{ordTrack.Order_Status}}</td>
                                    <td>{{ordTrack.total_amount}}</td>
                                    <td>{{ordTrack.total_amount}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                                </div>

                            </div>


                    </div>
               <!-- panel-body -->
                <div class="panel-footer">
                    <input class="btn btn-primary" type="button" class="orange-btn" id="btnChkOrderStatus" value="Check Order Status" ng-click="check_order()"/>
                    <input type="button" class="btn btn-primary" id="btnSendTrackReport" ng-click="SendTrackReport()" value="Send Order Received Track Report"/>
                    <input type="button" class="btn btn-primary" id="A17" ng-click="WillShipTrackReport()" value="Send Will Ship Report After Min. Ship Days"/>
                    <input type="button" class="btn btn-primary" id="A15" ng-click="WillShipReportAftMaxDays()" value="Send Will Ship Report After Max. Ship Days"/>


                </div><!-- panel-footer -->

                <!--<div class="locked" ng-show="loading">-->
                    <!--<div class="lockedpanel">-->

                        <!--<div class="loading"><img src="./images/loader.gif"></div>-->
                    <!--</div>&lt;!&ndash; lockedpanel &ndash;&gt;-->
                <!--</div>-->
            </div><!-- panel -->

        </div>
    </div>
</div>