


<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <!--<i class="fa fa-pencil"></i>-->
            <div style="margin-left:-7px;"><img src="./images/logo.jpg"></div>

        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href="#"><i class="glyphicon glyphicon-stats"></i></a></li>
                <li><a href="#">Order Management</a></li>
            </ul>
            <h4>Order Management</h4>
        </div>
    </div><!-- media -->
</div>
<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns" style="display: none;">
                        <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
                        <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h4 class="panel-title">Order Management</h4>

                </div>
                <div style=" margin-left: 14px;">

                <label class="control-label">Filters:</label>

                    </div>
                <div class="panel-body">
                    <div class="row">


                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Store</label>
                                <select class="form-control" ng-model="sel_order">
                                    <!--<option ng-repeat="store in store_list" value="{{store.id}}">{{store.name}}</option>-->
                                    <option ng-repeat="store in store_list" value="{{store.name}}">{{store.name}}</option>
                                </select>


                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                <select class="form-control" ng-model="sel_status">
                                    <option value="-1"></option>
                                    <option value="3">Payment Failed</option>
                                    <option value="4">Will Ship</option>
                                    <option value="5">Shipped </option>
                                    <option value="6">Order Delayed</option>
                                    <option value="7">Order Cancelled</option>
                                    <option value="13">Disputed Order</option>
                                </select>


                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                        <!--<div class="col-sm-6">-->
                            <!--<div class="input-group">-->
                                <!--<label class="control-label">From</label>-->
                                <!--&lt;!&ndash;<input class="form-control" type="text" placeholder="From"  name="txtordfrm" ng-model="from_date">&ndash;&gt;-->
                                <!--&lt;!&ndash;<input type="text" id="txtordfrm" class="form-control" placeholder="From" ng-model="from_date">&ndash;&gt;-->

                                <!--<input type="text" class="form-control" id="txtordfrm" placeholder="From" required="required" style="display: inline-block; width:90%!important;" datepicker-popup="MM/dd/yyyy" ng-model="from_date" ng-disabled="true" is-open="opened_start" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" />-->
                    <!--<span style="display: inline-block;" >-->
                    <!--<button type="button" class="" style="padding: 5px 7px ! important;" ng-click="openStart($event)">-->
                        <!--<i class="glyphicon glyphicon-calendar"></i>-->
                    <!--</button>-->
                        <!--</span>-->
                               <!--&lt;!&ndash; <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>&ndash;&gt;-->
                            <!--</div>&lt;!&ndash; form-group &ndash;&gt;-->
                        <!--</div>&lt;!&ndash; col-sm-6 &ndash;&gt;-->

                        <div class="col-sm-6">
                            <div class="form-group">
                                <div>
                                <label class="control-label">From </label>
                                </div>
                                <div>
                                <input type="text" class="form-control" style="display: inline-block; width:90%!important;" datepicker-popup="MM/dd/yyyy" ng-model="from_date" ng-disabled="true" is-open="opened_start" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" />
                    <span  style="display: inline-block;">
                    <button type="button" style="padding: 5px 7px ! important;" ng-click="openStart($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                        </span>
                            </div>
                            </div><!-- form-group -->
                        </div>


                        <div class="col-sm-6">
                            <div class="form-group">
                                <div>
                                <label class="control-label">To </label>
                                </div>
                                <!--<input type="text" id="txtOrdTo" class="form-control" name="txtOrdTo" placeholder="To" ng-model="to_date">-->
                                <div>
                                <input type="text" class="form-control" id="txtOrdTo" placeholder="To" name="txtOrdTo" style="display: inline-block;width:90%!important;" datepicker-popup="MM/dd/yyyy" ng-model="to_date" ng-disabled="true" is-open="opened_end" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" />
                    <span style="display: inline-block;" >
                    <button type="button" class="" style="padding: 5px 7px ! important;" ng-click="openEnd($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                        </span>
                        </div>
                        </div>
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                    </div><!-- row -->





                </div><!-- panel-body -->
                <div class="panel-footer">
                    <div>
                        <button class="btn btn-primary" id="btnSearchOrder" name="search" ng-click="SearchOrder()">Go</button>
                        <button class="btn btn-primary" id="btnOrdSrchCancel" ng-click="ClearSearchFields()">Cancel</button>
                        <button class="btn btn-primary" id="btnExportToExcel" ng-click="exportExcel()">Export To Excel</button>
                    </div>
                    <div style=" margin-top: 14px;"></div>
                    <div  style="max-height: 300px;overflow: auto; margin-top: 10px; border: 1px solid #ccc;" class="table-responsive">
                        <table class="table table-primary mb30">
                            <thead>
                            <tr>
                                <th>Order #</th>
                                <th>Store Company</th>
                                <th>Date</th>
                                <th>Customer Name</th>
                                <th>Ship To Name</th>
                                <th>Status</th>
                                <th>Total Purchase Amount</th>
                                <th>G.T. (Purchased)</th>
                                <th></th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="ord in orderList" ng-click='selectcolumn($index)' ng-class='{selectedrow: $index==selectedRow}'>
                                <td>{{ord.order_id}}</td>
                                <td>{{ord.store}}</td>
                                <td>{{ord.order_date | date :"dd/MM/yyyy"}}</td>
                                <td>{{ord.BillToName}}</td>
                                <td>{{ord.ShipToName}}</td>
                                <td>{{ord.Order_Status}}</td>
                                <td>{{ord.total_amount}}</td>
                                <td>{{ord.total_amount}}</td>
                                <td class="table-action ">
                                    <a href="" data-toggle="tooltip" value="View" title="View" class="tooltips" ng-dialog="child_popup" ng-click="ViewOrder(ord.order_id)">View</a>
                                </td>

                                <!-- <td class="table-action">
                                     <a href="" data-toggle="tooltip" value="Delete" title="Delete" class="delete-row tooltips" ng-click="delete_child_prod(prod.id)">Delete</a>

                                 </td>-->


                            </tr>
                            </tbody>
                        </table>
                    </div>



                </div><!-- panel-footer -->

                <div class="locked" ng-show="loading">
                    <div class="lockedpanel">

                        <div class="loading"><img src="./images/loader.gif"></div>
                    </div><!-- lockedpanel -->
                </div>

            </div><!-- panel -->

        </div>
    </div>
</div>