

<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <!--<i class="fa fa-pencil"></i>-->
            <div style="margin-left:-7px;"><img src="./images/logo.jpg"></div>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href=""></a></li>
            </ul>
            <h4>Product Search</h4>
        </div>
    </div><!-- media -->
</div>
<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns" style="display: none;">
                        <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
                        <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h4 class="panel-title">Product Search Criteria</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Product SKU</label>
                                <!--<input type="hidden" id="hdnCom_ID" ng-model="list_company.id"/>-->
                                <input class="form-control" type="text" id="txtBrand" placeholder="Product SKU" name="txtProdSKU" ng-model="brand_name"  />

                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->


                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Product ID</label>
                                <!--<input type="hidden" id="hdnCom_ID" ng-model="list_company.id"/>-->
                               <input class="form-control" type="text" id="txtBrand" placeholder="Product SKU" name="txtProdSKU" ng-model="brand_name"  />

                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->


                    </div><!-- row -->

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Product Name</label>
                                <input class="form-control" type="text" id="txtProdName" placeholder="Product SKU" name="txtProdSKU" ng-model="brand_name"  />

                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Brand Name</label>


                                <select class="form-control" id="ddlProductId"  ng-model="sel_brand">
                                    <option ng-repeat="brand in brand_list" ng-trim="true" value="{{brand.name}}">{{brand.name}}</option>
                                </select>

                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                    </div><!-- row -->

                </div><!-- panel-body -->
                <div class="panel-footer">
                    <input type="button" class="btn btn-primary" id="btnSaveProduct" ng-click="save_brand();" value="Save"/>
                    <input type="button" class="btn btn-primary" ng-click="cancel_brand()" value="Cancel"/>

                </div><!-- panel-footer -->
            </div><!-- panel -->

        </div>
    </div>
</div>