


<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <!--<i class="fa fa-pencil"></i>-->
            <div style="margin-left:-7px;"><img src="./images/logo.jpg"></div>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="">Product Approval</a></li>
            </ul>
            <h4>Product Approval</h4>
        </div>
    </div><!-- media -->
</div>
<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns" style="display: none;">
                        <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
                        <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h4 class="panel-title">Product Approval</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">  Product Name</label>
                                <input type="text" class="form-control" id="txtSchProdName" name="txtSchProdName" ng-model="prod_name" placeholder="Product Name" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Brand</label>
                                <select class="form-control" id="ddlStoreForTrack" title="" ng-model="select_brand">
                                    <option ng-repeat="prod_brand in prod_brand_list" value="{{prod_brand.name}}">{{prod_brand.name}}</option>
                                </select>


                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->
                    </div><!-- row -->


                    <div class="row">

                        <div class="">
                            <!--<h5 class="lg-title mb5">Table With Actions</h5>-->
                            <!--<p class="mb20">An example of table with actions in every rows.</p>-->
                            <div class="table-responsive">
                                <table class="table table-primary mb30">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Product ID</th>
                                        <th>Product SKU</th>
                                        <th>Product Name</th>
                                        <th>Brand</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="prod_details in prod_details_data" ng-click='selectcolumn($index)' ng-class='{selectedrow: $index==selectedRow}'>
                                        <td><input type="checkbox" ng-model="prod_id" ng-click="select_data(prod_details.id)"></td>
                                        <td>{{prod_details.id}}</td>
                                        <td>{{prod_details.sku}}</td>
                                        <td>{{prod_details.Name}}</td>
                                        <td>{{prod_details.brand}}</td>
                                        <td><a>{{prod_details.cat_url}}</a></td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- table-responsive -->
                        </div><!-- col-md-6 -->
                    </div>
                </div><!-- panel-body -->
                <div class="panel-footer">
                    <input class="btn btn-primary" type="button" id="btnChkOrderStatus" value="Search" ng-click="search_product()"/>
                    <input type="button" class="btn btn-primary" id="btnSendTrackReport" ng-click="" value="Cancel"/>
                    <input type="button" class="btn btn-primary" id="A17" ng-click="product_approval();" value="Approve"/>

                </div><!-- panel-footer -->


                <!--<div class="locked" ng-show="loading">-->
                    <!--<div class="lockedpanel">-->

                        <!--<div class="loading"><img src="./images/loader.gif"></div>-->
                    <!--</div>&lt;!&ndash; lockedpanel &ndash;&gt;-->
                <!--</div>-->

            </div><!-- panel -->

        </div>
    </div>
</div>