
<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <!--<i class="fa fa-pencil"></i>-->
            <div style="margin-left:-7px;"><img src="./images/logo.jpg"></div>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="">Product Features Maintenance</a></li>
            </ul>
            <h4>Product Features Maintenance</h4>
        </div>
    </div><!-- media -->
</div>
<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns" style="display: none;">
                        <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
                        <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h4 class="panel-title">Product Features Maintenance</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label"> Select Product</label>
                                <!--<input type="hidden" id="hdnCom_ID" ng-model="list_company.id"/>-->
                                <select class="form-control" id="ddlProduct"  ng-model="sel_prod_feature">
                                    <option ng-repeat="prod_feature_list in prod_feature_detail" ng-trim="true" value="{{prod_feature_list.id}}">{{prod_feature_list.Name}}</option>
                                </select>

                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->


                    </div><!-- row -->

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Product Name</label>
                                <input class="form-control" type="text" id="txtProdSKU" placeholder="Product SKU" name="txtProdSKU" ng-model="prod_name" ng-disabled="prodsku_disable" />

                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->



                    </div><!-- row -->



                    <div class="row">
                        <div class="col-md-6">
                            <!--<h5 class="lg-title mb5">Table With Actions</h5>-->
                            <!--<p class="mb20">An example of table with actions in every rows.</p>-->
                            <div class="table-responsive">
                                <table class="table table-primary mb30">
                                    <thead>
                                    <tr>
                                        <th>Features</th>
                                        <th>Value</th>
                                        <th>Add Value</th>



                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="prod_feature in prod_feature_list" ng-click='selectcol($index)' ng-class='{selectedrow: $index==selectedRow}'>
                                        <td>{{prod_feature.name}}</td>
                                        <td>{{prod_feature.Value}}</td>
                                        <td class="table-action">
                                            <a href="" data-toggle="tooltip" value="Edit" title="Edit" class="tooltips"  ng-click="go_to_prod_popup(prod_feature.name,prod_feature.values)">Edit</a>

                                        </td>


                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- table-responsive -->
                        </div><!-- col-md-6 -->
                        </div><!-- col-sm-6 -->

                    <div class = "row">

                        <div class="col-md-6">
                            <!--<h5 class="lg-title mb5">Table With Actions</h5>-->
                            <!--<p class="mb20">An example of table with actions in every rows.</p>-->
                            <div class="table-responsive">
                                <table class="table table-primary mb30">
                                    <thead>
                                    <tr>
                                        <th>Features</th>
                                        <th>Value</th>
                                        <th>Action</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="pop_feature in prod_feature_data" ng-click='selectcol($index)' ng-class='{selectedrow: $index==selectedRow}'>
                                        <td>{{pop_feature.name}}</td>
                                        <td>{{pop_feature.Value}}</td>
                                        <td class="table-action">
                                            <a href="" data-toggle="tooltip" value="Delete" title="Edit" class="tooltips"  ng-click="delete_row(pop_feature.name,pop_feature.Value)">Delete</a>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- table-responsive -->
                        </div><!-- col-md-6 -->


                    </div>


                    <div class="locked" ng-show="prod_feat_popup">
                        <div style="left:40%;top:20%;" class="lockedpanel">
                            <div class="close">
                                <img src="images/closeBTN.png" width="30" ng-click="close_pop_up()" />
                            </div>

                            <div class="loginuser">

                            </div>
                            <div class="logged">
                                <h4>Add Value to features</h4>
                                <small class="text-muted">Values For {{feature_name}}</small>
                            </div>
                            <form id="unlock" method="post" >
                                <!--<div class="input-group">-->
                                <!--&lt;!&ndash;<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>&ndash;&gt;-->
                                <!--<div class="row">-->

                                <!---->
                                <!--</div>-->
                                <!--</div>&lt;!&ndash; input-group &ndash;&gt;-->




                                <div class="input-group">

                                    <select style="width:240px;" multiple="multiple" ng-model="feature_data" >

                                    <option ng-repeat="prod in prod_feature_details" value="{{prod}}">{{prod}}</option>
                                    </select>

                                </div>
                                <!--</div>-->

                                <button class="btn btn-success btn-block" ng-click="add(feature_name)">Add</button>

                                <button class="btn btn-success btn-block" ng-click="cancel_pop()">Cancel</button>


                            </form>
                        </div><!-- lockedpanel -->
                    </div>



                    <div class="locked" ng-show="add_feat_popup">
                        <div style="width:357px;left:36%;top:24%; " class="lockedpanel">

                            <div class="close">
                                <img src="images/closeBTN.png" width="30" ng-click="close_add_pop_up()" />
                            </div>

                            <div class="loginuser">

                            </div>
                            <div class="logged">
                             <h4>Add Additional Features</h4>
                      <!--<small class="text-muted"></small>-->
                            </div>
                            <form id="unlock1" method="post" >
                                <!--<div class="input-group">-->
                                <!--&lt;!&ndash;<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>&ndash;&gt;-->
                                <!--<div class="row">-->

                                <!---->
                                <!--</div>-->
                                <!--</div>&lt;!&ndash; input-group &ndash;&gt;-->


                                <div class="input-group">

                                    <div class="form-group">

                                 <label class="control-label">  Additional Features</label>

                                  <input class="form-control" type="text" placeholder="Additional Feature Name" ng-model="name" ng-trim="true"> <br>


                                 <label class="control-label"> Value</label>

                                  <input class="form-control" type="text" placeholder="Additional Feature Value" ng-model="value" ng-trim="true">



                                </div>
                                </div>

                                <button class="btn btn-success btn-block" ng-click="save_additional_feature()">Add</button>

                                <button class="btn btn-success btn-block" ng-click="cancel_add_pop()">Cancel</button>


                            </form>
                        </div><!-- lockedpanel -->
                    </div>







                    </div><!-- row -->



                <!--<div class="locked" ng-show="loading">-->
                    <!--<div class="lockedpanel">-->

                        <!--<div class="loading"><img src="./images/loader.gif"></div>-->
                    <!--</div><!-- lockedpanel -->
                <!--</div>-->


                </div><!-- panel-body -->
                <div class="panel-footer">
                    <input type="button" class="btn btn-primary" id="btnSaveProduct" ng-click="save_feature();" value="Save"/>
                    <input type="button" class="btn btn-primary" ng-click="clear_field();" value="Cancel"/>
                    <input type="button" class="btn btn-primary" id="btnsearch" ng-click="add_features();" value="Add Additional Features"/>

                </div><!-- panel-footer -->
            </div><!-- panel -->

        </div>
    </div>
</div>