<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <!--<i class="fa fa-pencil"></i>-->
            <div style="margin-left:-7px;"><img src="./images/logo.jpg"></div>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="">Product Category Association</a></li>
            </ul>
            <h4>Product Category Association</h4>
        </div>
    </div><!-- media -->
</div>
<div class="contentpanel">
<div class="row">
<div class="col-md-12">
<div class="panel panel-default">
<div class="panel-heading">
    <div class="panel-btns" style="display: none;">
        <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
        <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
    </div><!-- panel-btns -->
    <h4 class="panel-title">Product Category Association</h4>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Select Product</label>
                <!--<input type="hidden" id="hdnCom_ID" ng-model=""/>-->
                <select  class="form-control" id="CompanyEntryType" ng-model="sel_prod_assoc">

                    <option ng-repeat="prod_assc_list in prod_assc" value="{{prod_assc_list.id}}">{{prod_assc_list.Name}}</option>

                </select>

            </div><!-- form-group -->
        </div><!-- col-sm-6 -->


        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Select Product</label>
                <input class="form-control" type="text" id="" ng-model="prod_name" ng-disabled="prod_name_disable"/>


            </div><!-- form-group -->
        </div><!-- col-sm-6 -->



    </div>



    <div class="row">

        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Product Description</label>
                <!--<input  class="form-control" type="text" id="display" placeholder=" Display Name" name="CMDisplayName" ng-trim="true" ng-model="list_company.displayname"/>-->
                <!--<input class="form-control" type="text" id="Cat_Display_Name" placeholder="Category Display Name" ng-trim="true" ng-model="cat_detail_data.displayname" required="required" name="Cat_Display_Name" />-->
                <textarea class="form-control" style="height: 100PX;" id="txtCatDesc" name="txtCatDesc"  ng-model="prod_desc" ng-trim="true"  placeholder="Product Description"></textarea>

            </div><!-- form-group -->
        </div>

    </div>


    <div class="row">

        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Category List</label>
                <!--<input class="form-control" type="text" id="category" placeholder="Category Description" maxlength="30" ng-model="list_company.name" ng-trim="true" ng-blur="GenRootUrl()"  />-->

                <!--<textarea class="form-control" style="height: 100PX;" id="txtCatDesc" name="txtCatDesc"  ng-model="cat_detail_data.description" ng-trim="true"  placeholder="Category Description"></textarea>-->
                <!--<textarea class="form-control" style="height: 100PX;" id="" name="txtCatDesc"  ng-model="cat_detail_data.description" ng-trim="true"  placeholder="Category Description">-->
                <!--<div ng-repeat="prod_cat_assc in prod_cat_assc_list">-->
                    <!--<input type="checkbox" ng-model="category_list"  value="{{prod_cat_assc.id}}">{{prod_cat_assc.Name}}-->
                <!--</div>-->
                <!--</textarea>-->
                <div style="height: 120px; overflow: auto; background-color: #e4e4e4; border: solid 1px #d0cfcf" id="cat_list">
                <div ng-repeat="prod_cat_assc in prod_cat_assc_list">
                    <input type="checkbox" ng-model="category_list.ids[prod_cat_assc.id]" ng-click="get_id(prod_cat_assc.id)" value="{{prod_cat_assc.id}}">{{prod_cat_assc.Name}}
                </div>
                </div>

            </div><!-- form-group -->
        </div>
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Primary Category *</label>
                <!--<input type="hidden" id="" ng-model="sel_ParentId"/>-->
                <select  class="form-control" id="ddl_parent_cat" ng-model="sel_prim_cat" ng-disabled="ddl_parent_cat_disable">

                 <option ng-repeat="prim_cat_list in prim_cat" value="{{prim_cat_list.id}}">{{prim_cat_list.Name}}</option>

                </select>

            </div><!-- form-group -->
        </div>

    </div>

    <!--<div class="locked" ng-show="loading">-->
        <!--<div class="lockedpanel">-->

            <!--<div class="loading"><img src="./images/loader.gif"></div>-->
        <!--</div>&lt;!&ndash; lockedpanel &ndash;&gt;-->
    <!--</div>-->


</div><!-- panel-body -->
<div class="panel-footer">
    <input type="button" class="btn btn-primary" id="save1" ng-click="save_prod_cat()" value="save"/>
    <input type="button" class="btn btn-primary" id="btnAddAnotherCat" value="cancel" ng-disabled="btnAddAnotherCat_disable" ng-click="cancel()" />
    <input type="button" class="btn btn-primary" id="btnCancelCatSave" value="back" ng-click="cancel()"/>



</div><!-- panel-footer -->
</div><!-- panel -->

</div>
</div>
</div>