
<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <!--<i class="fa fa-pencil"></i>-->
            <div style="margin-left:-7px;"><img src="./images/logo.jpg"></div>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="">Product / Catalog Maintenance</a></li>
            </ul>
            <h4>Product / Catalog Maintenance</h4>
        </div>
    </div><!-- media -->
</div>
<div class="contentpanel">
<div class="row">
<div class="col-md-12">
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-btns" style="display: none;">
            <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
            <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
        </div><!-- panel-btns -->
        <h4 class="panel-title">Product / Catalog Maintenance</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">New Product</label>
                    <input type="hidden" id="hdnCom_ID" ng-model="list_company.id"/>
                    <select class="form-control" id="ddlProduct"  ng-model="sel_prod_name" ng-mouseover="on_mouse()" ng-mouseleave="off_mouse()">
                            <option ng-repeat="prod_list in prod_data" ng-trim="true" value="{{prod_list.id}}">{{prod_list.Name}}</option>
                        </select>

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->



        </div><!-- row -->

         <span ng-show="hoverEdit" style="border:dotted #000000 1px;color:black;">

         <label>Select New Product from the 'New Product' drop down to add New Product</label>
         </span>





        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Product SKU *</label>
                    <input class="form-control" type="text" id="txtProdSKU" placeholder="Product SKU" name="txtProdSKU" ng-model="sku" ng-disabled="prodsku_disable" />

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->


            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Product Id *</label>
                    <input type="text" class="form-control" id="txtProdId" placeholder="Product Id" name="txtProdId" ng-model="id" ng-disabled="prodId_disable"  />

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->


        </div><!-- row -->

        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Product Name *</label>
                    <input type="text" class="form-control" id="txtProductName" placeholder="Product Name" name="txtProductName" ng-model="Name"/>
                </div><!-- form-group -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">MRP *</label>
                    <input type="text" class="form-control" id="txtMRP" placeholder="MRP" name="txtMRP" ng-model="mrp" ng-keypress="isNumber($event)"/>
                </div><!-- form-group -->
            </div><!-- col-sm-6 -->


        </div><!-- row -->

        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Brand *</label>
                    <select id="ddlBrnad" class="form-control" title="Brand List" ng-model="sel_brand_name" >
                        <option ng-repeat="brand in brand_list" value="{{brand.name}}">{{brand.name}}</option>
                    </select>

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">List Price *</label>
                     <input type="text" class="form-control" id="txtListPrice" ng-change="CalDiscount()" name="txtListPrice" ng-model="list" placeholder="List Price" ng-keypress="isNumber($event)"/>

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Discount *</label>
                    <input type="text" class="form-control" id="txtDiscount" name="txtDiscount" ng-change="CalListPrice()" ng-model="discount" placeholder="Discount" ng-keypress="isNumber($event)"/>


                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div><!-- row -->

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Short Description *</label>
                     <textarea style="height: 65PX;" class="form-control" id="txtProdShrtDesc" placeholder="Product Short Description" ng-model="shortdesc" name="txtProdShrtDesc" maxlength="500"></textarea>

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Minimum Sales Price *</label>
                    <input type="text" class="form-control" id="txtMinOrdQty" name="txtMinOrdQty" ng-model="msp" placeholder="Minimum Sales Price"  ng-keypress="isNumber($event.keyCode)" />


                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div><!-- row -->

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Have Child Product</label>
                    <input type="checkbox" id="chkHaveChild" ng-disabled="chkHaveChild_disable" ng-model="child_prod" ng-checked="chkHaveChild_checked" />
                </div><!-- form-group -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Stock *</label>
                    <input type="text"  class="form-control" id="txtStock" name="txtStock" class="onlyNumeric" ng-model="stock" placeholder="Stock"/>


                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div><!-- row -->

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">
                        Express</label>
                     <input type="checkbox" id="chkExpress" ng-model="express" ng-checked="express_checked" ng-disabled="chkExpress_disable" />

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Re-Order Level *</label>
                    <input type="text" class="form-control" id="txtReorderLevel" class="onlyNumeric" ng-model="reorder" name="txtReorderLevel" placeholder="Re-Order Level" />


                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div><!-- row -->

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Product Description *</label>
                    <textarea style="height: 100PX;" id="txtProdDesc" class="form-control" name="txtProdDesc" placeholder="Product Description" ng-model="description"></textarea>

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->

       
		

         
        </div><!-- row -->

        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Deactivate from Catalog</label>
                    <input type="checkbox">

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->





        </div><!-- row -->

        <div class="locked" ng-show="search_popup">
            <div class="lockedpanel" style="width: 85%;height: 570px;padding: 10px 2px 5px;margin-top: 24px;left:8%;top:0%; ">
                <div class="close">
                    <img src="images/closeBTN.png" width="30" ng-click="go_back()" />
                </div>
                <div class="loginuser">

                </div>
                <div class="logged">
                    <h4>Product Search Criteria</h4>
                    <small class="text-muted"></small>
                </div>

                <form id="unlock" method="post" >
                    <!--<div class="input-group">-->
                    <!--&lt;!&ndash;<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>&ndash;&gt;-->
                    <!--<div class="row">-->

                    <!---->
                    <!--</div>-->
                    <!--</div>&lt;!&ndash; input-group &ndash;&gt;-->


                    <!--<div class="input-group">-->
                        <!--<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>-->
                        <!--<div class="row">-->
                        <div class="row">
                            <!--<div class="col-sm-6">-->
                            <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Product SKU</label>
                                <!--<input type="hidden" id="hdnCom_ID" ng-model="list_company.id"/>-->
                                <input class="form-control" type="text"  placeholder="Product SKU" name="txtProdSKU" ng-model="prod_sku"  />

                                <!--</div>&lt;!&ndash; form-group &ndash;&gt;-->
                            </div><!-- col-sm-6 -->
                                </div>


                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Product ID</label>
                                    <!--<input type="hidden" id="hdnCom_ID" ng-model="list_company.id"/>-->
                                    <input class="form-control" type="text"  placeholder="Product SKU" name="txtProdSKU" ng-model="prod_id"  />

                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->


                        </div><!-- row -->



                        <div class="row">

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Product Name</label>
                                    <input class="form-control" type="text" id="txtProdName" placeholder="Product SKU" name="txtProdSKU" ng-model="prod_name"  />

                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Brand Name</label>

                                    <select class="form-control" id="ddlProductId"  ng-model="prod_brand">
                                        <option ng-repeat="brand in brand_list" ng-trim="true" value="{{brand.name}}">{{brand.name}}</option>
                                    </select>

                                </div><!-- form-group -->
                            </div><!-- col-sm-6 -->

                        </div><!-- row -->

                    <!--</div>-->


                    <!--</div>-->


                    <div class="row">
                    <div class="col-sm-6">

                        <div class="form-group">

                        <button class="btn btn-success btn-block"  ng-click="search_prod_data()">Search</button>

                            </div>
                        </div>

                        <div class="col-sm-6">
                        <div class="form-group">

                         <button class="btn btn-success btn-block" ng-click="go_back()">Cancel</button>

                            </div>

                            </div>




                    </div>

                    <div class="row" style="width: 100%;margin-left: 0px;max-height: 200px;overflow: auto;">
                            <!--<h5 class="lg-title mb5">Table With Actions</h5>-->
                            <!--<p class="mb20">An example of table with actions in every rows.</p>-->
                            <!--<div class="table-responsive">-->
                                <table class="table table-primary mb30">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Product SKU</th>
                                        <th>Product ID</th>
                                        <th>Product Name</th>
                                        <th>Brand</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr data-ng-repeat="search in search_data">
                                        <td><input type="radio" name="radio" ng-click="get_details($index)"></td>
                                        <td>{{search.sku}}</td>
                                        <td>{{search.id}}</td>
                                        <td>{{search.Name}}</td>
                                        <td>{{search.brand}}</td>


                                    </tr>
                                    </tbody>
                                </table>
                            <!--</div>&lt;!&ndash; table-responsive &ndash;&gt;-->
                        <!-- col-md-6 -->
                    </div>





                </form>
            </div><!-- lockedpanel -->
        </div><!-- locked -->


        <!--<div class="locked" ng-show="loading">-->
            <!--<div class="lockedpanel">-->

                <!--<div class="loading"><img src="./images/loader.gif"></div>-->
            <!--</div>&lt;!&ndash; lockedpanel &ndash;&gt;-->
        <!--</div>-->

    </div><!-- panel-body -->
    <div class="panel-footer">
       <input type="button" class="btn btn-primary" id="btnSaveProduct" ng-click="SaveProduct()" value="Save"/>
        <input type="button" class="btn btn-primary" ng-click="get_all_clear()" value="Cancel"/>
        <input type="button" id="btnUpldPrdImg" class="btn btn-primary" ng-click="Open_img_popup()" value="Upload Image URL"/>
        <input type="button" class="btn btn-primary" id="btnsearch" ng-click="search()" value="Search"/>

    </div><!-- panel-footer -->
</div><!-- panel -->

</div>
</div>
</div>


<!--ng-disabled="btnUpldPrdImg_disable"-->