<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <!--<i class="fa fa-pencil"></i>-->

            <div style="margin-left:-7px;"><img src="./images/logo.jpg"></div>

        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="">Promotion Management</a></li>
            </ul>
            <h4>Promotion Management</h4>
        </div>
    </div><!-- media -->
</div>
<div class="contentpanel">
<div class="row">
<div class="col-md-12">
<div class="panel panel-default">
<div class="panel-heading">
    <div class="panel-btns" style="display: none;">
        <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
        <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
    </div><!-- panel-btns -->
    <h4 class="panel-title">Promotion Management</h4>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">New Promotion</label>
                <select  class="form-control" id="NewPromotionType" ng-model="sel_promo">
                    <option value="0">New Promotion</option>
                    <option ng-repeat="promo_list in listData" value="{{promo_list.promo_id}}">{{promo_list.promo_name}}</option>

                </select>

            </div><!-- form-group -->
        </div><!-- col-sm-6 -->
    </div>

    <div class="row">

        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Promotion Name</label>
                <!--<input class="form-control" type="text" id="cat" placeholder="Category Name" maxlength="30" ng-trim="true" ng-model="list_company.name" ng-blur="GenRootUrl()"  />-->

                <input class="form-control" type="text" id="txtPromoName" placeholder="Promotion Name" ng-model="promo_name" name="txtPromoName"/>

            </div><!-- form-group -->
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Customer/Store</label>
                <select  class="form-control" id="CustomerType" ng-model="sel_cust">

                    <option ng-repeat="comp_list in listcust" value="{{comp_list.id}}">{{comp_list.name}}</option>

                </select>

            </div><!-- form-group -->
        </div>

    </div>


    <div class="row">

        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Minimum Purchase</label>
                <input class="form-control" type="text" id="txtMinPurchase" placeholder="Minimum Purchase" ng-model="min_purchase" name="txtMinPurchase"/>

            </div><!-- form-group -->
        </div>

    </div>



    <div class="row">

        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Discount Type</label>
                <select  class="form-control" id="ddlDiscType"  title="Select Discount Type" ng-model="disc_type" >
                    <option  value="0">Select Discount</option>
                    <option  value="F">Flat Off</option>
                    <option  value="P">Percentage</option>

                </select>

            </div><!-- form-group -->
        </div>


        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Max Discount</label>
                <input class="form-control" type="text" id="txtMaxDiscount" ng-model="max_discount" placeholder="Max Discount" name="txtMaxDiscount" ng-disabled="txtMaxDiscount" />

            </div><!-- form-group -->
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Start Date</label>
                <input type="text" class="form-control" style="display: inline-block; width:90%!important;" datepicker-popup="dd/MM/yyyy" ng-model="start_date_val" ng-disabled="true" is-open="opened_start" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" />
                    <span style="display: inline-block;" >
                    <button type="button" class="" style="padding: 5px 7px ! important;" ng-click="openStart($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                        </span>

            </div><!-- form-group -->
        </div>
        <!--sel_promo.date-->

        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">End Date</label>
                <input type="text" class="form-control" style="display: inline-block; width:90%!important;" datepicker-popup="dd/MM/yyyy" ng-model="end_date_val" ng-disabled="true" is-open="opened_end" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" close-text="Close" />
                    <span style="display: inline-block;" >
                    <button type="button" class="" style="padding: 5px 7px ! important;" ng-click="openEnd($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                        </span>
            </div><!-- form-group -->
        </div>


    </div>

</div><!-- panel-body -->
<div class="panel-footer">
    <input type="button" class="btn btn-primary" id="btnSavePromo" ng-click="SavePromotion()" value="Save and Generate Gift Coupon"/>
    <input type="button" class="btn btn-primary" id="btnCancelPromo" ng-click="CancelPromo()" value="Cancel" />
    <input type="button" class="btn btn-primary" id="btnTransferPromo" ng-click="TransferPromotion()" value="Transfer Points to Store" ng-disabled="btnTransferPromo_disable"/>

</div><!-- panel-footer -->
</div><!-- panel -->

</div>
</div>
</div>