
<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <!--<i class="fa fa-pencil"></i>-->
            <div style="margin-left:-7px;"><img src="./images/logo.jpg"></div>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href=""></a></li>
            </ul>
            <h4></h4>
        </div>
    </div><!-- media -->
</div>
<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="panel-btns" style="display: none;">
                        <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
                        <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
                    </div><!-- panel-btns -->
                    <h4 class="panel-title">Upload Image URL</h4>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Category Name</label>
                                <!--<input type="hidden" id="hdnCom_ID" ng-model="list_company.id"/>-->
                                <!--<select class="form-control" id="ddlProduct"  ng-model="sel_prod_name">-->
                                    <!--<option ng-repeat="prod_list in prod_data" ng-trim="true" value="{{prod_list.id}}">{{prod_list.Name}}</option>-->
                                <!--</select>-->
                                <input class="form-control" type="text" id="cat" placeholder="Product SKU" name="txtProdSKU" ng-model="name" ng-disabled="cat_name_disable" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->



                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Category ID</label>
                                <input class="form-control" type="text" id="cate" placeholder="Product SKU" name="txtProdSKU" ng-model="id" ng-disabled="cat_id_disable" />

                            </div><!-- form-group -->
                        </div>


                    </div><!-- row -->

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">All Image URL</label>
                                <!--<input class="form-control" type="text" id="txtProdSKU" placeholder="Product SKU" name="txtProdSKU" ng-model="sku" ng-disabled="prodsku_disable" />-->


                           <select class="form-control"  ng-model="all_url" ng-mouseover="on_mouse()" ng-mouseleave="off_mouse()">
                           <option ng-repeat="img in img_url_list" ng-trim="true" value="{{img.display_name}}">{{img.display_name}}</option>
                         </select>




                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                    </div><!-- row -->

                     <span ng-show="hoverEdit" style="border:dotted #000000 1px;color:black; ">
                       <label>Select from the All Image URL to View or Edit previously added image URL's</label>
                      </span>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">New Image URL *</label>
                                <!--<input type="hidden" id="hdnCom_ID" ng-model="list_company.id"/>-->
                                <!--<select class="form-control" id="ddlProduct"  ng-model="sel_prod_name">-->
                                <!--<option ng-repeat="prod_list in prod_data" ng-trim="true" value="{{prod_list.id}}">{{prod_list.Name}}</option>-->
                                <!--</select>-->
                                <input class="form-control" type="text"  placeholder="" name="txtProdSKU" ng-model="display_name" ng-disabled="prodsku_disable" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->



                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Link *</label>
                                <input class="form-control" type="text"  placeholder="" name="txtProdSKU" ng-model="link" ng-disabled="prodsku_disable" />

                            </div><!-- form-group -->
                        </div>


                    </div>



                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Thumb Link *</label>
                                <!--<input type="hidden" id="hdnCom_ID" ng-model="list_company.id"/>-->
                                <!--<select class="form-control" id="ddlProduct"  ng-model="sel_prod_name">-->
                                <!--<option ng-repeat="prod_list in prod_data" ng-trim="true" value="{{prod_list.id}}">{{prod_list.Name}}</option>-->
                                <!--</select>-->
                                <input class="form-control" type="text"  placeholder="" name="txtProdSKU" ng-model="thumb_link" ng-disabled="prodsku_disable" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->



                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Zoom Link *</label>
                                <input class="form-control" type="text"  placeholder="" name="txtProdSKU" ng-model="zoom_link" ng-disabled="prodsku_disable" />

                            </div><!-- form-group -->
                        </div>


                    </div>


                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">All Video URL</label>
                                <!--<input class="form-control" type="text" id="txtProdSKU" placeholder="Product SKU" name="txtProdSKU" ng-model="sku" ng-disabled="prodsku_disable" />-->


                                <select class="form-control"   ng-model="all_video_url">
                                    <option ng-repeat="video in video_url_list" ng-trim="true" value="{{video.display_name}}">{{video.display_name}}</option>
                                </select>




                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                    </div><!-- row -->



                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Display Name</label>
                                <!--<input type="hidden" id="hdnCom_ID" ng-model="list_company.id"/>-->
                                <!--<select class="form-control" id="ddlProduct"  ng-model="sel_prod_name">-->
                                <!--<option ng-repeat="prod_list in prod_data" ng-trim="true" value="{{prod_list.id}}">{{prod_list.Name}}</option>-->
                                <!--</select>-->
                                <input class="form-control" type="text"  placeholder="" name="txtProdSKU" ng-model="video_display_name" ng-disabled="prodsku_disable" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->



                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Link</label>
                                <input class="form-control" type="text"  placeholder="" name="txtProdSKU" ng-model="video_link" ng-disabled="prodsku_disable" />

                            </div><!-- form-group -->
                        </div>


                    </div>



                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Add All URL</label>
                                <!--<input class="form-control" type="text" id="txtProdSKU" placeholder="Product SKU" name="txtProdSKU" ng-model="sku" ng-disabled="prodsku_disable" />-->


                                <select class="form-control" id="ddlProduct"  ng-model="all_url">
                                    <option ng-repeat="ad in ad_all_url" ng-trim="true" value="{{}}">{{}}</option>
                                </select>




                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->

                    </div><!-- row -->



                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">href</label>
                                <!--<input type="hidden" id="hdnCom_ID" ng-model="list_company.id"/>-->
                                <!--<select class="form-control" id="ddlProduct"  ng-model="sel_prod_name">-->
                                <!--<option ng-repeat="prod_list in prod_data" ng-trim="true" value="{{prod_list.id}}">{{prod_list.Name}}</option>-->
                                <!--</select>-->
                                <input class="form-control" type="text"  placeholder="" name="txtProdSKU" ng-model="href" ng-disabled="prodsku_disable" />
                            </div><!-- form-group -->
                        </div><!-- col-sm-6 -->



                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Link</label>
                                <input class="form-control" type="text"  placeholder="" name="txtProdSKU" ng-model="a_link" ng-disabled="prodsku_disable" />

                            </div><!-- form-group -->
                        </div>


                    </div>


                </div><!-- panel-body -->
                <div class="panel-footer">
                    <label class="control-label">Click Add More to add new set of Image URL's for the selected product</label><br>
                    <input type="button" class="btn btn-primary" id="btnSaveProduct" ng-click="back();" value="back"/>
                    <input type="button" class="btn btn-primary" ng-click="UploadImgVidLink()" value="Upload"/>
                    <input type="button" id="btnUpldPrdImg" class="btn btn-primary" ng-click="add_more()" value="Add More" ng-disabled="btnUpldPrdImg_disable" />
                    <input type="button" class="btn btn-primary" id="btnsearch" ng-click="SaveProduct();" value="cancel"/>

                </div><!-- panel-footer -->
            </div><!-- panel -->

        </div>
    </div>
</div>