<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-pencil"></i>

        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="">Order View</a></li>
            </ul>
            <h4>Order View</h4>
        </div>
    </div><!-- media -->
</div>
<div class="contentpanel">
<div class="row">
<div class="col-md-12">
<div class="panel panel-default">
<div class="panel-heading">
    <div class="panel-btns" style="display: none;">
        <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
        <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
    </div><!-- panel-btns -->
    <h4 class="panel-title">{{lblOrder_id}}</h4>
</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Order Date</label>
                    <input class="form-control" type="text" id="txtOrderDate" placeholder="Order Date" ng-model="order_date" readonly="readonly" name="order_date" />
                </div><!-- form-group -->
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Order Status</label>
                    <select id="ddlOrdStatus" title="Select Order Status" ng-model="sel_OrdStatus" class="form-control" >
                        <option value="-1"></option>
                        <!--   <option value="1">Pending </option>
                        <option value="2">Payment Successful</option>
                        <option value="3">Payment Failed</option>-->
                        <option value="4">Will Ship</option>
                        <option value="5">Shipped</option>
                        <option value="6">Order Delayed</option>
                        <option value="7">Order Cancelled</option>
                        <option value="13">Dispute</option>
                    </select>
                </div><!-- form-group -->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Purchased From</label>
                    <input class="form-control" type="text" id="txtPurchasedFrom" placeholder="Purchased From" ng-model="Purchased_From" readonly="readonly"/>
                </div><!-- form-group -->
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <button class="btn btn-primary" id="btnOrdStatUpd" ng-click="OrdStatus_update()">Update Order Status</button>
                </div>
            </div>
        </div>
    </div>
<!-- panel-footer -->
</div><!-- panel -->

<div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-btns" style="display: none;">
                <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
                <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
            </div><!-- panel-btns -->
            <h4 class="panel-title">Account Information</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Customer Name</label>
                        <input class="form-control" type="text" id="txtCustomerName" placeholder="Customer Name" readonly="readonly" ng-model="Cust_Name" />
                    </div><!-- form-group -->
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input class="form-control" type="text" id="txtCustEmail" placeholder="Email" readonly="readonly" ng-model="email_id" />
                    </div><!-- form-group -->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Contact Number</label>
                        <input class="form-control" type="text" id="txtContactNumber" placeholder="Contact Number" ng-model="contact_number" readonly="readonly" />
                    </div><!-- form-group -->
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Points Balance</label>
                        <input class="form-control" type="text" id="txtPointsBalance" placeholder="Points Balance" ng-model="bal_points" name="txtPointsBalance" readonly="readonly" />
                    </div><!-- form-group -->
                </div>
            </div>
        </div><!-- panel-body -->
        <!-- panel-footer -->
    </div>

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-btns" style="display: none;">
            <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
            <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
        </div><!-- panel-btns -->
        <h4 class="panel-title">Address</h4>
    </div>
    <div class="panel-body">

        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Billing Address</label>
                    <textarea class="form-control" style="height: 100PX;" id="txtbilladdress" name="txtbilladdress" ng-model="address" placeholder="Billing Address" readonly="readonly"></textarea>

                </div><!-- form-group -->
            </div>


            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Shipping Address</label>
                    <textarea class="form-control" style="height: 100PX;" id="txtshipaddress" name="txtshipaddress" ng-model="address"  placeholder="Shipping Address" readonly="readonly"></textarea>

                </div><!-- form-group -->
            </div>
        </div>
    </div><!-- panel-body -->
    <!-- panel-footer -->
</div>


<div class="panel panel-default">

    <div class="panel-heading">
        <div class="panel-btns" style="display: none;">
            <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
            <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
        </div><!-- panel-btns -->
        <h4 class="panel-title">Payment Information</h4>
    </div>
    <div class="panel-body">

        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Points Redeemed</label>
                    <!--<input class="form-control" type="text" id="cat" placeholder="Category Name" maxlength="30" ng-trim="true" ng-model="list_company.name" ng-blur="GenRootUrl()"  />-->
                    <input class="form-control" type="text" id="Points_Redeemed" placeholder="Points Redeemed" ng-model="points" readonly="readonly" name="Points_Redeemed" />




                </div><!-- form-group -->
            </div>


            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Gift Voucher</label>
                    <!--<input class="form-control" type="text" id="cat" placeholder="Category Name" maxlength="30" ng-trim="true" ng-model="list_company.name" ng-blur="GenRootUrl()"  />-->
                    <input class="form-control" type="text" id="Gift_Voucher" placeholder="Gift Voucher" ng-model="egift_vou_amt" readonly="readonly" name="Gift_Voucher" />




                </div><!-- form-group -->
            </div>



        </div>

        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Cash/Card Paid</label>
                    <!--<input class="form-control" type="text" id="cat" placeholder="Category Name" maxlength="30" ng-trim="true" ng-model="list_company.name" ng-blur="GenRootUrl()"  />-->
                    <input class="form-control" type="text" id="Cash_Card_Paid" placeholder="Cash/Card Paid" ng-model="paid_amount" name="Cash_Card_Paid" readonly="readonly" />
                </div><!-- form-group -->
            </div>


            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Gift Voucher No</label>
                    <!--<input class="form-control" type="text" id="cat" placeholder="Category Name" maxlength="30" ng-trim="true" ng-model="list_company.name" ng-blur="GenRootUrl()"  />-->
                    <input class="form-control" type="text" id="Gift _Voucher_No" placeholder="Gift Voucher No" readonly="readonly" ng-model="egift_voucher_no" name="Gift_Voucher_No" />




                </div><!-- form-group -->
            </div>



        </div>

    </div><!-- panel-body -->

    <!-- panel-footer -->
</div>


<div class="panel panel-default">

    <div class="panel-heading">
        <div class="panel-btns" style="display: none;">
            <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
            <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
        </div><!-- panel-btns -->
        <h4 class="panel-title">Shipping & Handling Information</h4>
    </div>
    <div class="panel-body">

        <div class="row">

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Shipping Charges</label>
                    <!--<input class="form-control" type="text" id="cat" placeholder="Category Name" maxlength="30" ng-trim="true" ng-model="list_company.name" ng-blur="GenRootUrl()"  />-->
                    <input class="form-control" type="text" id="Shipping_Charges" placeholder="Shipping Charges" readonly="readonly" ng-model="shipping_charges" name="Shipping_Charges" />




                </div><!-- form-group -->
            </div>

        </div>

    </div><!-- panel-body -->

    <!-- panel-footer -->
</div>

<div class="panel panel-default">

    <div class="panel-heading">
        <div class="panel-btns" style="display: none;">
            <a href="#" class="panel-minimize tooltips" data-toggle="tooltip" title="" data-original-title="Minimize Panel"><i class="fa fa-minus"></i></a>
            <a href="#" class="panel-close tooltips" data-toggle="tooltip" title="" data-original-title="Close Panel"><i class="fa fa-times"></i></a>
        </div><!-- panel-btns -->
        <h4 class="panel-title">Items Ordered</h4>
    </div>
    <div  style="max-height: 300px;overflow: auto; margin-top: 10px; border: 1px solid #ccc;" class="table-responsive">
        <table class="table table-primary mb30">
            <thead>
            <tr>
                <th>Product Id</th>
                <th>Product SKU</th>
                <th>Product Name</th>
                <th>Brand</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Discount</th>
                <th>Sub Total</th>

            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="items in itemsOrderedList">
                <td>{{items.id}}</td>
                <td>{{items.sku}}</td>
                <td>{{items.name}}</td>
                <td>{{items.brand}}</td>
                <td>{{items.quantity}}</td>
                <td>{{items.mrp}}</td>
                <td>{{items.discount}}</td>
                <td>{{items.final_offer}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div>
            <button class="btn btn-primary" id="btnBackOrdView" name="btnBackOrdView" ng-click="BackOrdView()">Back</button>

        </div>
    </div>
    <!-- panel-footer -->
</div>


</div>
</div>
</div>
<!--Pop-up Shipping Information-->
<div class="locked" ng-show="showOrderShipInfo">
    <div class="lockedpanel" style="width: 450px; height: 540px; margin-left:-225px; margin-top:-270px">
        <div class="close">
            <img src="images/closeBTN.png" width="30" ng-click="closeOrderShipInfoPanel()" />
        </div>
        <div class="panel-heading">
            <h4 class="panel-title">Shipping Information</h4>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Shipping Date:</label>
                    <input type="text" id="txtShippingDate" class="form-control" name="txtShippingDate" placeholder="Shipping Date" ng-model="shipping_date" />
                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Courier Service Provider:</label>
                    <textarea id="txtCourServProvider" placeholder="Courier Service Provider" style="width: 400px;" class="form-control" ng-model="shipping_info"></textarea>
                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Courier Track No:</label>
                    <input type="text" id="txtCourierTrackNo" name="txtCourierTrackNo" placeholder="Courier Track No" class="form-control" ng-model="courier_track_no" />
                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Courier Track Link:</label>
                    <input type="text" id="txtCourierTrackLink" name="txtCourierTrackLink"  style="width: 400px" placeholder="Courier Track Link" class="form-control" ng-model="courier_track_link" />
                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Courier Cost:</label>
                    <input type="text" id="txtCourierCost" name="txtCourierCost" placeholder="Courier Cost" class="form-control" ng-model="courier_cost" />
                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Send Email:</label>
                    <input type="checkbox" id="chkSendEmail" title="Send Email To Customer" ng-model="send_email" />
                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="button" id="btnAddCourierInfo" class="btn btn-primary" name="btnAddCourierInfo" value="Ok" ng-click="AddCourierInfo()" />
                    <input type="button" id="btnCancelCourierInfo" class="btn btn-primary" name="btnCancelCourierInfo" value="Cancel" ng-click="CancelCourierInfo()" />

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div>
    </div>
</div>
<!--Pop-up OrderStatusUpdInfo-->
<div class="locked" ng-show="showOrderStatusUpdInfo">
    <div class="lockedpanel" style="width: 450px; height: 330px; margin-left:-225px; margin-top:-165px">
        <div class="close">
            <img src="images/closeBTN.png" width="30" ng-click="closeOrderStatusUpdInfoPanel()" />
        </div>
        <div class="panel-heading">
            <h4 class="panel-title">{{OrdUpdStatus}}</h4>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    {{OrdUpdCap}}</label>
                    <textarea id="txtOrdUpdInfo" style="width: 400px; height: 100px;" class="form-control" ng-model="OrdUpdInfo"></textarea>
                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group" ng-show="trNoOfDaysDelay">
                    <label class="control-label">No. Of Days Delayed:</label>
                    <input type="text" id="txtDaysDelayed" class="NumericField" name="txtDaysDelayed" placeholder="Number Of Days Delayed" class="form-control" ng-model="Delay_Days" />
                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="button" id="btnAddOrdStatNote" class="btn btn-primary" name="btnAddOrdStatNote" value="Ok" ng-click="AddOrdStatNote()" />
                    <input type="button" id="btnCancelOrdStatNote" class="btn btn-primary" name="btnCancelOrdStatNote" value="Cancel" ng-click="CancelOrdStatNote()" />

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div>
    </div>
</div>
<!--Pop-up DisputeInfo-->
<div class="locked" ng-show="showDisputeInfo">
    <div class="lockedpanel" style="width: 450px; height: 380px; margin-left:-225px; margin-top:-190px">
        <div class="close">
            <img src="images/closeBTN.png" width="30" ng-click="closeDisputeInfoPanel()" />
        </div>
        <div class="panel-heading">
            <h4 class="panel-title">Dispute Information</h4>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    Order No:
                    <input type="text" id="txtDisputeOrderNo" name="txtDisputeOrderNo" readonly="readonly" placeholder="Order No" class="form-control" ng-model="dispute_orderNo" ng-disabled="en_dispute_orderNo" />
                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Added Dispute Notes:</label>
                    <textarea id="txtDisputeNotesInAct" style="width: 380px; height: 60px;" class="form-control" ng-model="dispute_notes" ng-disabled="en_dispute_notes"></textarea>
                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Enter Dispute Notes:</label>
                    <textarea id="txtDisputeNotesAct" placeholder="Dispute Notes" style="width: 380px; height: 60px;" class="form-control" ng-model="dispute_notes_act"></textarea>
                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <input type="button" id="btnDisputeInfo" class="btn btn-primary" name="btnDisputeInfo" value="Ok" ng-click="AddDisputeInfo()" />
                    <input type="button" id="btnCancelDisputeInfo" class="btn btn-primary" name="btnCancelDisputeInfo" value="Cancel" ng-click="CancelDisputeInfo()" />

                </div><!-- form-group -->
            </div><!-- col-sm-6 -->
        </div>
    </div>
</div>